:root {
    --primary-color: #515151;
    --secondary-color: #7d7d7d;
    --tertiary-color: #d8dada;
    --primary-accent-color: #f15a29;
    --secondary-accent-color: #68c8c6;
    --footer-background: #ffddb3;
    --sup-col-green: #669D62;
    --sup-col-yellow: #EEB111;
    --sup-col-red: #F5866C;
    --sup-col-purple: #9174A7;
    --sup-col-blue: #498BC9;
    --sup-col-green-op: #B8CFA2;
    --sup-col-yellow-op: #FFE293;
    --sup-col-red-op: #FBC9BF;
    --sup-col-purple-op: #C9B6D0;
    --sup-col-blue-op: #8DBCCC;
}
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
    font-family: 'MuseoSlab300';
    src: url('../fonts/Museo_Slab_300.otf');
}
@font-face {
    font-family: 'MuseoSlab700';
    src: url('../fonts/MuseoCyrl700.otf');
}
@font-face {
    font-family: 'Christopher';
    src: url('../fonts/comesinhandy.ttf');
}
@font-face {
    font-family: 'Verdana';
    src: url('../fonts/verdana.ttf');
}
@font-face {
    font-family: 'Verdana-Bold';
    src: url('../fonts/verdanab.ttf');
}
@font-face {
    font-family: 'AileronThin';
    src: url('../fonts/Aileron-Thin.otf');
}
.font-cr {
    font-family: 'Christopher';
}
.font_M700 {
    font-family: 'MuseoSlab700';
}
.font_M300 {
    font-family: 'MuseoSlab300';
}

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}

@media (max-width: 576px) {}
@media (max-width: 768px) {}
@media (max-width: 992px) {}
@media (max-width: 1200px) {}
#circle {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
}
::selection {
    color: var(--sup-col-green);
    background-color: var(--sup-col-yellow-op);
}

.title_block {
    color: var(--primary-accent-color);
    font-size: 2.5em;
    font-family: 'MuseoSlab700';
}
.contact_block button {
    border-radius: 25px;
    background-color: var(--primary-accent-color);
    font-size: 1.2em;
    text-transform: uppercase;
    color: white;
}
.contact_block button:hover {
    background-color: #ee7952;
    color: white;
}

.font-cr {
    font-family: 'Christopher';
}
.font_M700 {
    font-family: 'MuseoSlab700';
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
}
p {
    font-size: 0.9em;
}

body {
    font-family: 'MuseoSlab300';
    color: var(--primary-color);
    height: 100%;
}


nav {
    background-color: var(--tertiary-color);
}

nav li a {
    color: var(--primary-color);
}
nav li a:hover {
    color: var(--secondary-color);
}


.carousel-caption {
    background-color: rgba(255,255,255,0.9);
    border-radius: 25px;
    padding: 1em;
    padding-bottom: 2em;

}
.carousel-caption h1 {
    color: var(--primary-accent-color);
}
.carousel-caption p {
    color: #515151;
}
.btn_main a {
    color: white;
    font-weight: bold;
}
.btn_main a:hover {
    text-decoration: none;
}
.btn_main {
    text-align: center;
    background-color: var(--secondary-accent-color);
    border-radius: 25px;
    display: inline;
}
.btn_main:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.index_first_block h1 {
    margin-bottom: 0;
    padding-bottom: 10px;
}
@media (max-width: 768px) {
    .bd-example {
        display: none;
    }
}
.index_first_block-IN {
    margin-top: 1em;
    background-color: var(--primary-accent-color);
    padding: 1em;
    text-align: center;
    border-radius: 25px;
}
@media (min-width: 768.1px) {
    .index_first_block-IN {
        display: none;
    }
}


@media (max-width: 768px) {
    .index_founder img {
        width: 50%;
        margin-bottom: 1em;
    }
}


.index_students {
    background-image: url('../img/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.index_students
.index_students_IN {
    background-color: #cacaca;
    border-radius: 25px;
}
.index_students p {
    text-align: center;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    /* padding: 0;
    margin: 0; */
}

.max-width_DEV {
    max-width: 780px;
}
.index_about_ericson h4 {
    font-size: 1em;
}
.index_about_ericson h2 {
    font-family: 'Christopher';
    font-size: 2.8em;
    color: var(--primary-accent-color);
}
.index_about_ericson h3 {
    font-size: 1.2em;
}
.index_our_clients h1 {
    font-family: 'MuseoSlab700';
    text-align: center;
    padding-top: 1em;
    color: #515151;
}
.btn_orange a {
    color: white;
    font-weight: bold;
}
.btn_orange a:hover {
    text-decoration: none;
}
.btn_orange {
    text-align: center;
    background-color: var(--primary-accent-color);
    width: 250px;
    border-radius: 25px;
}
.btn_orange:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-shadow: 0.5px 0px 1px black
}


.index_ourGoal {
    color: white;
}
.index_ourGoal_IN {
    background-color: var(--primary-accent-color);
    padding: 2em;
    border-radius: 50px;
}


.index_programms a {
    color: white;

}
.index_programms a:hover {
    text-decoration: none;
}
.btn_blue {
    text-align: center;
    background-color: var(--secondary-accent-color);
    width: 250px;
    border-radius: 25px;
}
.btn_blue:hover {
    cursor: pointer;
    background-color: var(--sup-col-blue-op);

}

.index_mostPopular h4 {
    font-size: 1.2em;
}
.index_mostPopular span {
    color: var(--primary-accent-color);
    font-size: 1.9em;
}
.index_mostPopular h3 {
    font-size: 1.4em;
    font-weight: bold;
}

.btn_blue a {
    color: white;

}
.btn_blue a:hover {
    text-decoration: none;
}

.index_directions h3 {
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}
.index_directions h2 {
    font-size: 2.8em;
    color: var(--primary-accent-color);
    text-align: center;
}


.card-title {
    text-transform: uppercase;
    font-family: 'MuseoSlab700';
    font-size: 1em;
}
.card .btn {
    background-color: var(--secondary-accent-color);
    color: white;
    border-radius: 20px;
}

.card .btn:hover {
    background-color: var(--sup-col-blue-op);
}
/*THANKS PAGE*/
.thanks_block {
    background-color: var(--tertiary-color);
    color: var(--primary-accent-color);
    border-radius: 50px;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}
.thanks_block h1, h2 {
    font-family: 'MuseoSlab700';
}
.back_button {
    background-color: var(--primary-accent-color);
    border-radius: 25px;
    color: white;
    font-size: large;
}
.back_button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: white;
}
.back_button:active {
    box-shadow: none;
}
/*THANKS PAGE*/
/*ABOUT PAGE*/
.about_top {
    background-image: url(../img/bg_about1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    font-family: 'MuseoSlab700';
    height: 500px;
}
.about_top h1 {
    font-size: 3.5em;
}
.about_top p {
    margin-top: 1em;
    font-size: 1.5em;
    max-width: 900px;
}
@media (max-width: 428px) {
    .about_top h1 {
        font-size: 2.5em;
    }
    .about_top p {
        font-size: 1em;
    }
}

.about_3 h1 {
    font-family: 'MuseoSlab700';
    padding-top: 2em;
}

.about_4 h1 {
    font-family: 'MuseoSlab700';
    padding-top: 2em;
    text-align: center;
    color: var(--secondary-accent-color);
    letter-spacing: 0.18em;
}
.methods {
    background-color: var(--tertiary-color);
    padding: 1.5em;
    margin: 1em;
    border-radius: 25px;
}
.methods p {
    text-align: justify;
    margin: 0;
    color: var(--primary-color);
}
@media (max-width: 576px) {
    .methods p {
        text-align: center;
    }
}

.about_5 h1 {
    text-align: center;
    font-family: 'MuseoSlab700';
    padding-top: 2em;
}
.about_5 h5 {
    font-family: 'Verdana-Bold';
}
.about_5 img {
    width: 100%;
}

.about_6 h1 {
    text-align: center;
    font-family: 'MuseoSlab700';
    padding-top: 2em;
    font-size: 1.5em;
}

.about_7 h1 {
    text-align: center;
    font-family: 'MuseoSlab700';
    padding-top: 2em;
    font-size: 1.5em;
}

.about_8 h1 {
    text-align: center;
    font-family: 'MuseoSlab700';
    padding-top: 2em;
    font-size: 1.5em;
}

.about_9 h1 {
    text-align: center;
    font-family: 'MuseoSlab700';
    padding-top: 2em;
    font-size: 1.5em;
}
/*ABOUT PAGE*/
/*MANAGEMENT COACHING PAGE*/
.management_top {
    background-image: url(../img/bg_management_coaching.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    font-family: 'MuseoSlab700';
    height: 500px;
}
.management_top h1 {
    font-size: 2.5em;
}
.management_top p {
    margin-top: 1em;
    font-size: 1.2em;
}
@media (max-width: 428px) {
    .management_top h1 {
        font-size: 1.8em;
    }
    .management_top p {
        font-size: 0.9em;
    }
}

.management_2 h1 {
    text-align: center;
    font-family: 'MuseoSlab700';
    padding-top: 2em;
    font-size: 2em;
}
.management_2 iframe {
    width: 100%;
    max-width: 700px;
}
.management_2 iframe {
    height: 400px;
}
@media (max-width: 466px) {
    .management_2 iframe {
        height: 250px;
    }
}
@media (max-width: 576px) {
    .management_2 iframe {
        height: 300px;
    }
}
@media (max-width: 768px) {
    .management_2 iframe {
        height: 300px;
    }
}

.management_3 {
    background-image: url(../img/m_bg_3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    color: white;
    font-family: 'MuseoSlab700';
    padding-top: 2em;
    padding-bottom: 2em;
}
.management_3 h1 {
    margin-bottom: 1em;
}
.management_3 hr {
    background-color: white;
}
.management_3 h5 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.management_4 h1 {
    text-align: center;
    font-family: 'MuseoSlab700';
    padding-top: 2em;
    font-size: 1.8em;
}
.management_4 .number {
    height: 40px;
    width: 40px;
    border: solid 1px var(--primary-color);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
}
.management_4 .row {
    margin-top: 1em;
    margin-bottom: 1em;
}
/*MANAGEMENT COACHING PAGE*/
/*SCIENCE AND ART PAGE*/
.saa_1 img {
    width: 100%;
    max-width: 220px;
}
.saa_1 h5 {
    text-align: center;
    font-family: 'MuseoSlab700';
}

.saa_2 {
    background-image: url(../img/mentor-bundle-erickson_20.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    color: white;
    font-family: 'MuseoSlab700';
    padding-top: 4em;
    padding-bottom: 4em;
    color: var(--primary-color);
}
.saa_2 .container {
    background-color: rgba(255,255,255,0.7);
    padding-top: 2em;
    padding-bottom: 2em;

}
.saa_2 hr {
    background-color: var(--primary-color);
}

.saa_3 h1 {
    text-align: center;
    font-family: 'MuseoSlab700';
    padding-top: 1.5em;
    font-size: 1.5em;
}
.saa_3 p {
    text-align: center;
}

.saa_3 iframe {
    width: 100%;
    max-width: 700px;
}
.saa_3 iframe {
    height: 400px;
}
@media (max-width: 466px) {
    .saa_3 iframe {
        height: 250px;
    }
}
@media (max-width: 576px) {
    .saa_3 iframe {
        height: 300px;
    }
}
@media (max-width: 768px) {
    .saa_3 iframe {
        height: 300px;
    }
}
.saa_4 {
    margin-top: 5em;
}
.saa_4 h1 {
    font-family: 'MuseoSlab700';
    font-size: 1.8em;
}
.saa_4 p {
    font-family: 'MuseoSlab700';
}
.saa_4 h3 {
    color: var(--primary-accent-color);
    font-family: 'MuseoSlab700';
}

.saa_5 .container {
    padding: 2em;
    background-color: var(--secondary-accent-color);
    color: white;
    border-radius: 50px;
    text-align: center;
}
.saa_5 h1 {
    font-family: 'MuseoSlab700';
}
.saa_5 h4 {
    font-family: 'MuseoSlab700';
}
.border-white-rad50 {
    border: 1px solid white;
    border-radius: 50px;
}
.btn_registration {
    text-align: center;
    background-color: var(--primary-accent-color);
    border-radius: 25px;
    font-size: 1.2em;
    color: white;
    padding: 0.5em;
}
.btn_registration:hover {
    background-color: var(--tertiary-color);
}

.saa_6 h1 {
    font-family: 'MuseoSlab700';
}
.saa_6 img {
    width: 100%;
}
.saa_6 span {
    cursor: pointer;
    color: var(--primary-accent-color);
}

.saa_7 {
    text-align: center;
}
.saa_7 h1 {
    font-family: 'MuseoSlab700';
    text-align: center;
}
.saa_7 p {
    font-family: 'MuseoSlab700';
    text-align: center;
    font-size: 1.2em;
}
.saa_7 iframe {
    width: 100%;
    max-width: 700px;
}
.saa_7 iframe {
    height: 400px;
}
.saa_7 .carousel-control-prev {
    background-color: var(--secondary-accent-color);
    height: 98%;
}
.saa_7 .carousel-control-next {
    background-color: var(--secondary-accent-color);
    height: 98%;
}
@media (max-width: 466px) {
    .saa_7 iframe {
        height: 250px;
    }
}
@media (max-width: 576px) {
    .saa_7 iframe {
        height: 300px;
    }
}
@media (max-width: 768px) {
    .saa_7 iframe {
        height: 300px;
    }
}
/*SCIENCE AND ART PAGE*/







footer {
    background-color: var(--footer-background);
}
footer h4 {
    font-size: 1.3em;
    font-family: 'MuseoSlab700';
}
footer p {
    font-size: 0.8em;
    font-family: 'AileronThin';
    text-align: justify;
}
footer a {
    color: #515151;
}
footer a:hover {
    color: #f15a29;
}
.footer_social_media1 {
    width: 45px;
    height: 45px;
    background-image: url(../img/inst1.png);
    background-size: contain;
    cursor: pointer;
}
.footer_social_media1:hover {
    background-image: url(../img/inst2.png);
}
.footer_social_media2 {
    width: 45px;
    height: 45px;
    background-image: url(../img/vk1.png);
    background-size: contain;
    cursor: pointer;
}
.footer_social_media2:hover {
    background-image: url(../img/vk2.png);
}
.footer_social_media3 {
    width: 45px;
    height: 45px;
    background-image: url(../img/fb1.png);
    background-size: contain;
    cursor: pointer;
}
.footer_social_media3:hover {
    background-image: url(../img/fb2.png);
}
.wave_footer {
    height: 50px;
    background-image: url(../img/wave_top.png);
    background-size: contain;
    background-repeat: repeat-x;
}
@media (max-width: 440px) {
    .wave_footer {
        height: 25px;
    }
}
@media (max-width: 216px) {
    .wave_footer {
        height: 15px;
    }
}


.ccnbs a {
    color: var(--secondary-color);
}

.but_l {
    padding: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.but_l a {
    color: #f15a29;
    text-transform: uppercase;
    font-family: 'MuseoSlab700';
}
.but_l:hover {
    background-color: #f15a29;
}
.but_l a:hover {
    text-decoration: none;
}
.but_l:hover a {
    color: white;
}


.card_MC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-accent-color);
    border-radius: 30px;
    font-family: 'MuseoSlab700';
    color: #515151;
    width: 100%;
    height: 100%;
}
.card_MC:hover {
    background-color: #e4886a;
}
.fb-3 a:hover {
    text-decoration: none;
    border-radius: 30px;
    color: black;
}
.fb-3 a {
    width: 100%;
    height: 100%;
}
.fis_back {
    background-color: #396d6c;
    padding: 3em;
    color: white;
    border-radius: 35px;
}
@media (max-width: 576px) {
    .fis_back h3 {
        font-size: 1.3em;
    }
}


.par_m {
    background-color: #e4e4e4;
    color: #515151;
    font-family: 'MuseoSlab700';
    padding: 1.4em;
    margin-top: 1.2em;
    display: flex;
    align-items: center;
    border-radius: 35px;
}
.par_m p {
    margin: 0;
    font-size: 1.2em;
}

.saa_cci2 {
    width: 100%;
}

.accordion button:hover {
    text-decoration: none;
}
.accordion button:active {
    text-decoration: none;
}
.accordion button:visited {
    text-decoration: none;
}
.accordion button:focus {
    text-decoration: none;
}
.btn-primary-orange {
    background-color: var(--primary-accent-color);
    color: white;
}
.btn-primary-orange:hover {
    color: white;
    background-color: #af350d;
}

.nsaa2 p {
    font-size: 0.8em;
    font-family: 'MuseoSlab700';
    text-align: center;
}
.nsaa2 .col-md-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .nsaa2 img {
        width: 50%;
        margin-bottom: 2em;
    }
}

.nsaa3 h3 {
    color: var(--secondary-accent-color);
    font-family: 'MuseoSlab700';
}
.nsaa3 a {
    color: var(--primary-accent-color);
}
.nsaa4 h3 {
    color: var(--primary-accent-color);
    font-family: 'MuseoSlab700';
}
.nsaa4 h5 {
    color: var(--primary-accent-color);
    font-family: 'MuseoSlab700';
}
.nsaa4 .col-md-6 {
    border-left: 3px solid #8FC8D1;
    padding-left: 15px;
    height: 100%;
    margin-top: 2em;
}
.nsaa5 h3 {
    color: var(--secondary-accent-color);
    font-family: 'MuseoSlab700';
}
@media (max-width: 768px) {
    .saa_h1 {
        font-size: 1.5em!important;
    }
}
.nsaa6 h3 {
    color: var(--secondary-accent-color);
    font-family: 'MuseoSlab700';
}
.orange {
    color: var(--primary-accent-color);
}
.nsaa7 h3 {
    color: var(--secondary-accent-color);
    font-family: 'MuseoSlab700';
}
.saa-modules {
    background-color: #eaeff4;
}
.nsaa8 h3 {
    color: var(--secondary-accent-color);
    font-family: 'MuseoSlab700';
}
.card {
    border: 1px solid rgba(0,0,0,.125)!important;
}