{% extends 'main/base.html' %}
{% load static %}
{% block description %}Erickson Coaching. Коучинг Ростов на Дону. Эриксон коучинг{% endblock description %}
{% block keywords %}Erickson Coaching. Коучинг Ростов на Дону. Эриксон коучинг{% endblock keywords %}
{% block title %}Erickson Coaching - О коучинге{% endblock title %}
{% block block_content %}
<section class="about">
    <div class="about_top d-flex flex-column align-items-center justify-content-center">
        <div class="px-2 text-center">
            <h1>Что такое коучинг</h1>
            <p>• Эффективность коучинга • Лайф коучинг • Суть коучинга • Модели коучинга • Коучинг вопросы • Инструменты коучинга •</p>
        </div>
    </div>

    <div class="about_2 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-2 d-flex flex-column align-items-center justify-content-center">
                    <img src="{% static 'img/coaching.jpg' %}" alt="coaching">
                </div>
                <div class="col-md-6 mt-4 d-flex flex-column align-items-center justify-content-center">
                    <h5>Коучинг</h5>
                    <p class="text-justify">это профессиональное партнёрство с клиентом, ориентированное на творческое создание и реализацию особых, значимых для его жизни изменений в личной и/или профессиональной сфере. Эриксоновский коучинг предоставляет элегантный способ сопровождения изменений. С помощью комплексных современных технологий Эриксоновский коучинг открывает людям возможности ясного понимания своего уникального пути и создает поддержку во время движения к цели.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-2 d-flex flex-column align-items-center justify-content-center">
                    <img src="{% static 'img/saa3.jpg' %}" alt="coaching">
                </div>
                <div class="col-md-6 mt-4 d-flex flex-column align-items-center justify-content-center">
                    <h5>Определение коучинга Международной Федерации Коучинга (ICF)</h5>
                    <p class="text-justify">ICF определяет коучинг как процесс партнерства, стимулирующий работу мысли и креативность клиента, в котором он с помощью коуча максимально раскрывает свой личный и профессиональный потенциал.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="about_3 mt-5">
        <div class="container">
            <h1 class="text-center">Эриксоновский коучинг основан на следующих принципах</h1>
            <div class="media pt-5">
                <img src="{% static 'img/person.png' %}" width="55px" class="align-self-center mr-3" alt="icf">
                <div class="media-body">
                  <h5 class="mt-0">Ориентация на решения</h5>
                  <p class="text-left">Коуч помогает клиенту достигать своих истинных целей, вместо того чтобы позволять ему концентрироваться на прошлом опыте и искать причины неудач.</p>
                </div>
            </div>
            <div class="media pt-5">
                <img src="{% static 'img/person.png' %}" width="55px" class="align-self-center mr-3" alt="icf">
                <div class="media-body">
                  <h5 class="mt-0">Системный подход</h5>
                  <p class="text-left">Коуч поддерживает целостность личности клиента и фокус внимания на то, что изменения, которые происходят в одной области жизнедеятельности, влияют на более масштабную картину его жизни.</p>
                </div>
            </div>
            <div class="media pt-5">
                <img src="{% static 'img/person.png' %}" width="55px" class="align-self-center mr-3" alt="icf">
                <div class="media-body">
                  <h5 class="mt-0">Концентрация на клиенте</h5>
                  <p class="text-left">Коуч верит в то, что у клиента есть все ресурсы и навыки для достижения своих целей, уважает его планы действий и те результаты, которых он хочет достичь. Коучинг – это зона, свободная от советов.</p>
                </div>
            </div>
            <div class="media pt-5">
                <img src="{% static 'img/person.png' %}" width="55px" class="align-self-center mr-3" alt="icf">
                <div class="media-body">
                  <h5 class="mt-0">Ориентирован как на ценности, так и на действия</h5>
                  <p class="text-left">Следуя плану изменений в специфичных, вдохновляющих клиента шагах, клиент создаёт для себя фундаментальные изменения в отношениях, поведении и сформировавшихся привычках. </p>
                </div>
            </div>
            <div class="media pt-5">
                <img src="{% static 'img/person.png' %}" width="55px" class="align-self-center mr-3" alt="icf">
                <div class="media-body">
                  <h5 class="mt-0">Развитие осознанности</h5>
                  <p class="text-left">Во время трансформационного коучинга клиент расширяет осознанность себя и своей жизни, отношений, своих целей и их достижения, что создает основу для дальнейшего развития.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="about_4 mt-5">
        <div class="container">
            <h1 class="mb-4">Методы</h1>
            <div class="methods">
                <p>В основе всех обучающих программ Международного Эриксоновского Университета лежат методики системного мышления, технологии, направленные на результаты, новейшие исследования в области психолингвистики и управления.</p>
            </div>
            <div class="methods">
                <p>Мы используем модели, основанные на творческом видении, которые дают ключи к открытию, поддержанию и развитию этого видения.</p>
            </div>
            <div class="methods">
                <p>Наши методики интегрированы, цельны и наглядны. Они помогают исследовать поведение людей и помогают создать наиболее эффективное направление для личного и корпоративного развития. Мы даем возможность людям изменить взгляд на окружающий мир, на существующие ситуации. Понятие «коучинг личной эффективности», технологии, лежащие в основе наших программ, стимулируют стремительный рост творчества и выводят на новый уровень коммуникацию и качество взаимодействия в командах.</p>
            </div>
        </div>
    </div>

    <div class="about_5 mt-5">
        <div class="container">
            <h1 class="mb-4">Уникальность коучинга</h1>
            <div class="row">
                <div class="col-md-4 text-center">
                  <img src="{% static 'img/uniq_c.jpg' %}" alt="uniq">
                  <h5 class="py-2">Психотерапия и коучинг</h5>
                  <p>В отличие от терапии и консультирования, коучи не фокусируются на детском или прошлом негативном опыте,
                    который может быть причиной того, как живёт или что чувствует человек.</p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="{% static 'img/sport_c.jpg' %}" alt="sport">
                    <h5 class="py-2">Спортивный тренер и коуч</h5>
                    <p>Когда человек, не знакомый с коучингом, слышит слово “coach”, то начинает думать о футболе, но задача
                      спортивного тренера – ставить задачи и вести к победе. Те навыки, которые используют спортивные тренеры во
                      всём мире – обучение, корректировка и управление. Профессиональный лайф, бизнес-коучинг или коучинг
                      топ-менеджеров – это совсем иное; здесь клиент сам ставит перед собой цели.</p>
                </div>
                <div class="col-md-4 text-center">
                  <img src="{% static 'img/cons_c.jpg' %}" alt="coms">
                  <h5 class="py-2">Консалтинг и коучинг</h5>
                  <p>Задача консультанта – определить проблему человека или организации и предложить свои решения, основываясь
                    на знаниях и опыте решения проблем; часто они сами и реализуют эти решения. Задача коуча – использовать
                    техники и инструменты, чтобы помочь клиенту сгенерировать собственные решения, а затем поддерживать клиентов
                    в их исполнении.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="about_6 mt-5">
        <div class="container">
            <h1 class="mb-4">Результаты обучения коучингу в Международном Эриксоновском Университете Коучинга</h1>
            <table class="table table-hover">
                <tr>
                    <td>Более 40 000 человек во всем мире и больше 4000 человек в России и СНГ с помощью обучения коучингу у нас достигли своих целей.</td>
                </tr>
                <tr>
                    <td>80% используют инструменты коучинга в своей нынешней работе</td>
                </tr>
                <tr>
                    <td>20% стали сертифицированными коучами ICF</td>
                </tr>
                <tr>
                    <td>100% каждый день используют коучинговые навыки</td>
                </tr>
            </table>
        </div>
    </div>

        <!--CONTACT-->
        <a name="contact"></a>
        <div class="container-fluid mt-5">
            <div class="container contact_block border py-4">
                <div class="text-center pb-5">
                    <h1 class="title_block pb-2">Оставьте заявку</h1>
                </div>
                <form action="/" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group py-3">
                                {{ form.subject.errors }}
                                {{ form.subject }}
    <!--                            <input type="text" name="name" class="form-control" placeholder="Введите имя">-->
                            </div>
                            <div class="form-group py-3">
                                {{ form.phone.errors }}
                                {{ form.phone }}
    <!--                            <input type="tel" name="tel" class="form-control" placeholder="Введите телефон">-->
                            </div>
                            <div class="form-group py-3">
                                {{ form.sender.errors }}
                                {{ form.sender }}
    <!--                            <input type="email" name="email" class="form-control" placeholder="Введите электронную почту">-->
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group py-3">
                                {{ form.message.errors }}
                                {{ form.message }}
    <!--                            <textarea class="form-control" name="text" placeholder="Задайте нам вопрос"></textarea>-->
                            </div>
                        </div>
                    </div>
                    <div class="container text-center">
                        <button class="btn py-2 px-5 my-2 my-sm-0 px-4" type="submit">
                            Оставить заявку
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--END CONTACT-->

    <div class="about_7 mt-5">
        <div class="container">
            <h1 class="mb-4">Лайф - коучинг</h1>
            <p class="text-center">Это совместная работа человека с коучем над решением его жизненных задач и достижением жизненных целей. </p>
            <ul>
              <li>Понимание происходящего в жизни, семье, отношениях, в карьере,  бизнесе</li>
              <li>Видение путей развития  себя как личности, пути развития отношений, карьеры и бизнеса</li>
              <li>Принятие и понимание себя</li>
              <li>Веру в себя и свои способности, в  свою уникальность и свой успех</li>
              <li>Доверие себе и миру, своим близким и детям</li>
              <li>Силу идти вперёд по выбранному пути</li>
              <li>Гибкость, умение слышать, чувствовать, распознавать и быстро реагировать на изменения в мире, окружающем пространстве</li>
              <li>Открытость миру, возможностям, изменениям</li>
              <li>Эффективность в решении любых жизненных задач, то, что раньше было непостижимо, сейчас решается быстро, легко, «на раз»</li>
              <li>Здоровье  семьи, отношений, себя и своего тела; уходят «зажимы», психосоматические расстройства, хронические заболевания, невралгические боли</li>
            </ul>
        </div>
    </div>

    <div class="about_8 mt-5">
        <div class="container">
            <h1 class="mb-4">КОУЧИНГ В УПРАВЛЕНИИ. EXECUTIVE COACHING КОУЧИНГ В КОМПАНИИ (БИЗНЕСЕ)</h1>
            <p class="text-center">Что дает управленцам (топ-менеджерам) работа с коучем.</p>
            <ul>
              <li>Развивает способность создавать видение профиля текущей или желаемой должности, чтобы ей соответствовать</li>
              <li>Создает план последовательных действий для воплощения видения в реальность</li>
              <li>Развивает способность работать на результат</li>
              <li>Развивает способность создавать видение развития бизнеса, основанное на личных ценностях</li>
              <li>Помогает формировать план развития карьеры и план достижения успеха</li>
              <li>Помогает выйти за личные ограничения, которые создают риски для карьерного продвижения</li>
              <li>Поддерживает в преодолении значимых профессиональных и карьерных неудач, влияющих на мотивацию и приверженность</li>
              <li>Поддерживает в развитии уверенности в себе и развитии навыков по управлению основными организационными изменениями</li>
              <li>Определяет и поддерживает сильные стороны индивидуального стиля общения и помогает выйти за личные ограничения</li>
              <li>величивает эффективность общения с людьми разных личностных стилей</li>
              <li>Преодолевает личные ограничения или пробелы осознания себя, препятствующие развитию отношений и достижению стратегических бизнес-результатов</li>
              <li>Помогает создать личные финансовые накопления и упростить стиль жизни</li>
              <li>Усиливает чувство личной идентичности и помогает создать баланс рабочей и личной жизни</li>
              <li>Разрабатывает стратегию расширения социальных связей и сферы влияния</li>
              <li>Помогает осознавать свои способности влиять и раскрывать потенциал других людей</li>
              <li>Помогает создавать диалог между членами команды</li>
              <li>Обучает проводить индивидуальный коучинг и коучинг команд для прорывов и достижения результатов</li>
              <li>Помогает внедрить в компании подход к оценке лидеров по системе 360*</li>
              <li>Помогает расширить личные и профессиональные горизонты</li>
              <li>Создает безопасную зону для исследования событий профессиональной жизни и межличностных конфликтов</li>
            </ul>
        </div>
    </div>

    <div class="about_9 mt-5">
        <div class="container">
            <h1 class="mb-4">Что дает руководителям среднего звена работа с коучем</h1>
            <ul>
                <li>Развивает навыки, необходимые для управления проектами и развития подчиненных и команд</li>
                <li>Помогает определить и развивать сильные стороны индивидуального стиля общения</li>
                <li>Помогает сделать более эффективным общение с людьми разных личностных стилей</li>
                <li>Способствует развитию большей само-осознанности и выходу за рамки ограничений в отношениях и работе</li>
                <li>Помогает создать образ себя в профессии, чтобы соответствовать текущей или желаемой должности</li>
                <li>Развивает видение своей личной жизни, основанное на ценностях</li>
                <li>Развивает видения себя в профессии, связанное с личными ценностями</li>
                <li>Способствует развитию личных и профессиональных социальных связей</li>
                <li>Поддерживает в развитии более эффективных навыков управления</li>
                <li>Помогает научиться управлять стрессом на работе</li>
                <li>Помогает развить уверенность в своем профессионализме</li>
                <li>Развивает способности задавать продвигающие вопросы, которые воодушевляют и мотивируют других</li>
                <li>Развивает управленческое видение</li>
                <li>Развивает уверенность и навыки управления и влияния на организационные изменения в одном из направлений общего видения развития бизнеса</li>
                <li>Поддерживает в развитии уверенности в навыках публичных презентаций</li>
                <li>Развивает навыки переговоров</li>
                <li>Помогает разработать план карьерного развития</li>
                <li>Помогает создать финансовые резервы</li>
                <li>Способствует созданию баланса рабочей и личной жизни</li>
                <li>Учит проводить индивидуальный и командный коучинг для улучшения деятельности и личностного роста</li>
                <li>Помогает преодолеть профессиональные проблемы и другие значимые разочарования, влияющие на мотивацию и приверженность</li>
                <li>Помогает создать или развивать фундамент для личного лидерства</li>
                <li>Развивает личные и карьерные перспективы</li>
                <li>Помогает научиться управлять организационной политикой</li>
              </ul>
        </div>
    </div>


</section>

{% endblock block_content %}