{% extends 'main/base.html' %}
{% load static %}
{% block description %}Erickson Coaching. Коучинг Ростов на Дону. Эриксон коучинг{% endblock description %}
{% block keywords %}Erickson Coaching. Коучинг Ростов на Дону. Эриксон коучинг{% endblock keywords %}
{% block title %}Erickson Coaching - Базовый курс{% endblock title %}
{% block block_content %}
<section class="basic-course">

    <div class="management_top">
        <div class="px-2 text-center container h-100 d-flex flex-column justify-content-center">
          <h1>Базовый курс обучения</h1>
          <p>
            Авторский коучинг-тренинг Мэрилин Аткинсон. Обучение
            профессиональным базовым навыкам и методам коучинга при поддержке и
            с использованием материалов Международного Эриксоновского
            Университета Коучинга.
          </p>
        </div>
      </div>

      <div class="basic_1">
        <div class="index_founder mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img width="100%" src="{% static 'img/marilyn-atkinson-erickson-coach-training_0.jpg' %}" alt="marilyn">
                    </div>
                    <div class="col-md-8 d-flex flex-column justify-content-around">
                        <h4>Автор программы:</h4>
                        <h1>Мэрилин Аткинсон</h1>
                        <p>                        Авторский коучинг-тренинг Мэрилин Аткинсон. Обучение
                            профессиональным базовым навыкам и методам коучинга при поддержке и
                            с использованием материалов Международного Эриксоновского
                            Университета Коучинга.</p>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="about_4 mt-5">
        <div class="container">
            <h1 class="mb-4"></h1>
            <div class="methods">
                <h5>Несколько раз попробовать себя в роли коуча и клиента, навыки коучинга.</h5>
            </div>
            <div class="methods">
                <h5>Концентрироваться на своих планах и целях, задавая важные для себя вопросы.</h5>
            </div>
            <div class="methods">
                <h5>Практиковаться в умении слушать и умении задавать эффективные вопросы.</h5>
            </div>
            <div class="methods">
                <h5>Открыть для себя эффективность применения коучинга.</h5>
            </div>
        </div>
    </div>

    <div class="management_1 mt-5">
        <div class="container">
            <h1 class="mb-4">Вы узнаете:</h1>
            <table class="table table-hover">
              <tr>
                  <td>Почему коучинг как стиль руководства столь популярен</td>
              </tr>
              <tr>
                  <td>Как создавать доверительные отношения</td>
              </tr>
              <tr>
                  <td>Каковы основные навыки коучинга и шаги коучинга</td>
              </tr>
              <tr>
                  <td>Как применяется коучинг в планировании</td>
              </tr>
              <tr>
                <td>Как формулировать эффективные вопросы</td>
              </tr>
              <tr>
                <td>Как создаются отношения коуч-руководителя и подчиненного</td>
              </tr>
              <tr>
                  <td>Формат конечного результата</td>
              </tr>
              <tr>
                  <td>Методы коучинга. Методы создания плана будущих достижений</td>
              </tr>
              <tr>
                  <td>Коучинг - новые возможности в личном стиле лидерства</td>
              </tr>
              <tr>
                  <td>Как воплощать мечты в реальность</td>
              </tr>
          </table>
        </div>
      </div>

      <div class="management_2">
          <div class="container">
            <h1 class="mb-4">Методы поведения:</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="behave mt-4">
                        <h4>25% ТЕОРИЯ</h4>
                        <p>Минимум теории и максимум практики</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="behave mt-4">
                        <h4>70% ПРАКТИКА</h4>
                        <p>Курс создаёт навыки с помощью мощного набора
                            коучинговых бесед, которые в сочетании создают простую и эффективную
                            коучинговую сессию. Программа насыщена практическими упражнениями и
                            обратной связью с тренером</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="behave mt-4">
                        <h4>5% ДЕМО</h4>
                        <p>Понятные и простые демонстрации работы коуча</p>
                    </div>
                </div>
            </div>
          </div>
      </div>


      <div class="management_4 mt-5">
        <div class="container">
          <h1 class="mb-4">В результате 8-ми часов теории и практики</h1>
            <div class="row">
              <div class="col-sm-1 text-center">
                <div class="number d-flex align-items-center justify-content-center mr-2">
                <p class="m-0">1</p>
              </div>
              </div>
              <div class="col-sm-11 d-flex align-items-center">
                <h5 class="m-0">Концентрироваться на своих планах и целях, задавая важные для себя вопросы.</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1">
                <div class="number d-flex align-items-center justify-content-center">
                <p class="m-0">2</p>
              </div>
              </div>
              <div class="col-sm-11 d-flex align-items-center">
                <h5 class="m-0">Серии простых вопросов, короткие беседы и практические упражнения, позволят Вам открыть свои собственные коучинговые способности и навыки коучинга.</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1">
                <div class="number d-flex align-items-center justify-content-center">
                <p class="m-0">3</p>
              </div>
              </div>
              <div class="col-sm-11 d-flex align-items-center">
                <h5 class="m-0">Вы сможете в дискуссиях соединить то, что послужит толчком к развитию во многих областях Вашей жизни.</h5>
              </div>
            </div>
        </div>
    </div>

            <!--CONTACT-->
            <a name="contact"></a>
            <div class="container-fluid mt-5">
                <div class="container contact_block border py-4">
                    <div class="text-center pb-5">
                        <h1 class="title_block pb-2">Записаться на тренинг</h1>
                    </div>
                    <form action="/" method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group py-3">
                                    {{ form.subject.errors }}
                                    {{ form.subject }}
        <!--                            <input type="text" name="name" class="form-control" placeholder="Введите имя">-->
                                </div>
                                <div class="form-group py-3">
                                    {{ form.phone.errors }}
                                    {{ form.phone }}
        <!--                            <input type="tel" name="tel" class="form-control" placeholder="Введите телефон">-->
                                </div>
                                <div class="form-group py-3">
                                    {{ form.sender.errors }}
                                    {{ form.sender }}
        <!--                            <input type="email" name="email" class="form-control" placeholder="Введите электронную почту">-->
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group py-3">
                                    {{ form.message.errors }}
                                    {{ form.message }}
        <!--                            <textarea class="form-control" name="text" placeholder="Задайте нам вопрос"></textarea>-->
                                </div>
                            </div>
                        </div>
                        <div class="container text-center">
                            <button class="btn py-2 px-5 my-2 my-sm-0 px-4" type="submit">
                                Оставить заявку
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!--END CONTACT-->
      

</section>
{% endblock block_content %}