{% extends 'main/base.html' %}
{% load static %}
{% block description %}Erickson Coaching. Коучинг Ростов на Дону. Эриксон коучинг{% endblock description %}
{% block keywords %}Erickson Coaching. Коучинг Ростов на Дону. Эриксон коучинг{% endblock keywords %}
{% block title %}Erickson Coaching - Для бизнеса{% endblock title %}
{% block block_content %}
    <section class="for_business">
      <div class="management_top">
        <div class="px-2 text-center container h-100 d-flex flex-column justify-content-center">
          <h1>ДЛЯ БИЗНЕСА</h1>
          <h4>Мы работаем с людьми, которые управляют компаниями</h4>
        </div>
      </div>

      <div class="fb_1 container mt-5">
        <h5 class="font_M700 text-justify">Мы помогаем лидерам внедрить и ускорить устойчивые и прогрессивные изменения, основываясь на ценностях. Великие компании и сильные лидеры знают ценность привлечения, развития и удержания талантов. Вот уже 30 лет Эриксоновский университет по всему миру помогает руководителям крупных компаний тренировать, развивать  и наращивать  лидерские компетенции.</h5>
      </div>

    <div class="py-4"></div>

      <div class="fb-2 container mt-5">
        <h2 class="font_M700 text-center">КОУЧИНГ, НАПРАВЛЕННЫЙ НА ПОИСК РЕШЕНИЯ – НОВЫЕ ВОЗМОЖНОСТИ ЛИДЕРСТВА</h2>
        <ul>
          <li>Создание вдохновляющего  ясного видения, развитие стратегического мышления.</li>
          <li>Исследование ценностей компании, команды, сотрудника и расстановка ценностных приоритетов.</li>
          <li>Четкие рамки согласованных действий и ясные шаги для ускорения достижения цели.</li>
          <li>Креативные инструменты, оптимизирующие стратегии и поиск наилучших решений.</li>
          <li>Использование потенциала команд для планирования, проектирования и внедрения инноваций в реальность.</li>
          <li>Легкость освоения и естественность коучинговых инструментов.</li>
        </ul>
      </div>

    <div class="fb-3 container mt-5">
      <h4 class="font_M700 text-center">ВЫБЕРИТЕ ИНТЕРЕСУЮЩУЮ ФОРМУ ОБУЧЕНИЯ</h4>
      <div class="row mt-5">
        <div class="col-sm-6 d-flex justify-content-center mt-4">
          <a href="" data-toggle="modal" data-target="#style_coaching">
            <div class="p-1 card_MC p-5">
              <img src="{% static 'img/MC-1.png' %}" alt="OC" width="150px">
              <h5 class="text-center mt-3">Обучение руководителей<br>в стиле коучинг</h5>
            </div>
          </a>
        </div>
        <div class="col-sm-6 d-flex justify-content-center mt-4">
          <a href="" data-toggle="modal" data-target="#individual_coaching">
            <div class="p-1 card_MC p-5">
              <img src="{% static 'img/MC-2.png' %}" alt="OC" width="150px">
              <h5 class="text-center mt-3">Индивидуальный коучинг</h5>
            </div>
          </a>
        </div>
        <div class="col-sm-6 d-flex justify-content-center mt-4">
          <a href="" data-toggle="modal" data-target="#team_coaching">
            <div class="p-1 card_MC p-5">
              <img src="{% static 'img/MC-3.png' %}" alt="OC" width="150px">
              <h5 class="text-center mt-3">Командный коучинг</h5>
            </div>
          </a>
        </div>
        <div class="col-sm-6 d-flex justify-content-center mt-4">
          <a href="" data-toggle="modal" data-target="#coaching_360">
            <div class="p-1 card_MC p-5">
              <img src="{% static 'img/MC-4.png' %}" alt="OC" width="150px">
              <h5 class="text-center mt-3">Коучинг после оценки 360</h5>
            </div>
          </a>
        </div>

      </div>
    </div>

          <!--CONTACT-->
        <a name="contact"></a>
        <div class="container-fluid mt-5">
            <div class="container contact_block border py-4">
                <div class="text-center pb-5">
                    <h1 class="title_block pb-2">Оставьте заявку</h1>
                </div>
                <form action="/" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group py-3">
                                {{ form.subject.errors }}
                              {{ form.subject }}
    <!--                            <input type="text" name="name" class="form-control" placeholder="Введите имя">-->
                            </div>
                            <div class="form-group py-3">
                                {{ form.phone.errors }}
                                {{ form.phone }}
    <!--                            <input type="tel" name="tel" class="form-control" placeholder="Введите телефон">-->
                            </div>
                            <div class="form-group py-3">
                                {{ form.sender.errors }}
                                {{ form.sender }}
    <!--                            <input type="email" name="email" class="form-control" placeholder="Введите электронную почту">-->
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group py-3">
                                {{ form.message.errors }}
                                {{ form.message }}
    <!--                            <textarea class="form-control" name="text" placeholder="Задайте нам вопрос"></textarea>-->
                            </div>
                        </div>
                    </div>
                    <div class="container text-center">
                        <button class="btn py-2 px-5 my-2 my-sm-0 px-4" type="submit">
                            Оставить заявку
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--END CONTACT-->

    <!-- Modal -->
    <div class="modal fade" id="style_coaching" tabindex="-1" role="dialog" aria-labelledby="style_coachingTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font_M700" id="style_coachingTitle">Обучение руководителей в стиле коучинг</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Программа предназначена для менеджеров, которым по роду своей деятельности необходимо развивать, мотивировать подчиненных использовать коучинг в управлении, улучшать результативность их работы, оптимизировать достижение поставленных целей и повышать приверженность корпоративным ценностям. Бизнес-коучинг.</p>
            <h5 class="font_M700">Цели программы:</h5>
            <ul>
              <li>Руководители узнают, что такое руководство в стиле бизнес-коучинга и в чем его преимущества.</li>
              <li>Руководители получат набор конкретных навыков бизнес-коучинга в управлении людьми.</li>
              <li>Участники курса научатся проводить эффективную беседу в стиле бизнес коучинг со своими подчиненными.</li>
              <li>Курс даст руководителям дополнительные инструменты управления мотивацией подчиненных.</li>
              <li>Участники усилятся в постановки целей своим сотрудникам и обеспечить достижение результатов.</li>
              <li>Менеджеры компании научатся поощрять сотрудников к самоанализу, открытой обратной связи и развитию.</li>
            </ul>
            <h6 class="font_M700">Продолжительность программы: тренинг 3 дня, плюс 2 дня посттренинг.</h6>

            <div class="accordion" id="accordion1">
              <div class="card">
                <div class="card-header" id="acc_heading1_1">
                  <h2 class="mb-0 text-center">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#acc_col_1_1" aria-expanded="true" aria-controls="acc_col_1_1">
                      К каким результатам приводит – отзывы компаний-клиентов
                    </button>
                  </h2>
                </div>

                <div id="acc_col_1_1" class="collapse" aria-labelledby="acc_heading1_1" data-parent="#accordion1">
                  <div class="card-body">
                    <p>Отзыв Компании</p>
                    <h6>KARCHER</h6>
                    <p>По результатам обучения коучингу: «Мы их опустили с головой в холодную бочку – а они смогли.»</p>
                    <hr>
                    <p>Компания</p>
                    <h6>KARCHER</h6>
                    <p>в настоящее время в компании трудится 350 чел. 10 лет на российском рынке, 6 основных топов выросли и остались в компании. Никто не учил руководителей менеджерским компетенциям.</p>
                    <p>Ксения Тихомирова, Менеджер по персоналу.</p>
                    <hr>
                    <h3 class="text-center">Компания KARCHER</h3>
                    <h4>Задачи:</h4>
                    <ul>
                      <li>Обучение коучингу стало одним из этапов большого проекта по внедрению модели компетенций.</li>
                      <li>Директива и четкий smart уже не работали.</li>
                      <li>Коучинг стал мостиком в создании модели компетенций.</li>
                    </ul>
                    <h4>Что было предложено:</h4>
                    <p>Обучить 20 руководителей первого и второго уровня основным инструментам коучинга в управлении и сформировать первичные навыки его использования.</p>
                    <hr>
                    <p>Обучение проходило в 2 этапа:</p>
                    <ul>
                      <li>I этап – выездной 3-х дневный тренинг</li>
                      <li>II этап – рабочий 2-х дневный тренинг через 1,5 месяца с целью закрепления использования технологии коучинга, формирования представления о модели компетенций.</li>
                    </ul>
                    <div class="py-3">
                      <p>В рамках обучения участники не только получили представление об инструменте, практиковали его использование с участием профессиональных коуч-тренеров, но также увидели конкретные результаты использования технологии в рабочих ситуациях. Особенно полезными стали коуч-сесии, которые организовывались самими участниками в перерывах между двумя этапами обучения.</p>
                    </div>
                    <h4>Результаты:</h4>
                    <ul>
                      <li>Уникальный инструмент Коучинг помог участникам слышать скрытые причины рабочих ситуаций и быть более эффективными в качестве руководителей.</li>
                      <li>После посттренинга людям стало все понятно. Первый и второй уровень руководства уже говорят на одном языке. Регионалы объединились в группы.</li>
                      <li>Повысилась ценность для людей работать именно в этой компании. Лидеры взяли ситуационное руководство+коучинг. Коучинг встроился в культуру компании.</li>
                      <li>За год в компании прибавилось 130 новых сотрудников. Руководитель растет вместе с бизнесом, есть экспертиза как наша компания успешно позиционирует себя на российском рынке. Магазин-Сервис-результат.</li>
                    </ul>
                    <hr>
                    <h5>Риски:</h5>
                    <p>Есть риск, что они воспринимают все буквально и начинают всех коучить в коридорах.</p>
                    <h5>Отзыв:</h5>
                    <p>Благодарим вас за внимательное отношение к нашим целям и задачам, за качественное их достижение, за гибкость и оперативность во время процесса подготовки, а также за слаженную работу во время проведения тренинга. Мы надеемся на возможность будущих совместных проектов.</p>
                    <hr>
                    <h3 class="text-center my-4">Группа Компаний ADV</h3>
                    <h4>Цель проекта:</h4>
                    <p>Внедрение коучинга как инструмента управления в компании.</p>
                    <h4>Задачи:</h4>
                    <ul>
                      <li>Внедрить коучинговый подход в работе менеджеров и усилить их навыки развития новых лидеров.</li>
                      <li>овысить способность руководителей к самомотивации, а также к мотивации сотрудников, а также увеличить уровень их адаптивности к изменяющимся условиям рынка.</li>
                      <li>Инициировать изменения в корпоративной культуре через естественные изменения в поведении руководителей.</li>
                      <li>Предоставить возможность менеджерам 2 и 3 линий управления (кадровый резерв) более самостоятельно принимать решения и брать на себя ответственность.</li>
                    </ul>
                    <h6>Международный Эриксоновский Университет предложил и реализовал следующую программу:</h6>
                    <ol>
                      <li>Обучение вице-президентов компании на 4-модульной программе "Наука и искусство коучинга"</li>
                      <li>
                        Тренинги для менеджмента компании (около 160 человек):
                        <ul>
                          <li>Модуль 1 - 4-дневная программа</li>
                          <li>Модуль 2 - 2-дневная программа</li>
                        </ul>
                      </li>
                      <li>Между двумя модулями была организована работа в тройках для освоения на практике коучинговых инструментов управления.
                        Внедрение этого вида практики сопровождалось методическими консультациями для вице-президентов и топ-менеджеров компании, которые были активно вовлечены как внутренние коучи и менторы.</li>
                      <li>Программа Индивидуального коучинга для развития кадрового резерва.</li>
                    </ol>
                    <h4>Результаты:</h4>
                    <ul>
                      <li>Повысился показатель удовлетворенности по получению обратной связи от руководителей.</li>
                      <li>Активно внедряется наставничество для развития преемников.</li>
                      <li>Сформированы Индивидуальные планы развития для всех ключевых сотрудников компании, где как один из инструментов развития применяется коучинг как один изосновных инструментов.</li>
                      <li>Повысилась лояльность персонала к компании и снизился процент текучести.</li>
                      <li>Активно применяется коучинговый подход при проведении встреч, в процессе оценки сотрудников.</li>
                      <li>Была проведена серия командных коучинговых сессий, в результате чего была обновлена миссия компании, ценности компании и принципы командной работы.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="acc_heading1_2">
                  <h2 class="mb-0 text-center">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#acc_col_1_2" aria-expanded="false" aria-controls="acc_col_1_2">
                      Программа
                    </button>
                  </h2>
                </div>
                <div id="acc_col_1_2" class="collapse" aria-labelledby="acc_heading1_2" data-parent="#accordion1">
                  <div class="card-body">
                    <h3 class="text-center my-4">Особенности программы</h3>
                    <p>Программа, сертифицированная Международным Эриксоновским Университетом коучинга проводится в уникальном формате, 1-й этап которой предлагает основные ключевые инструменты управления сотрудниками в коучинговом стиле и дает возможность применения изучаемых инструментов на следующий день после тренинга.</p>
                    <p>Второй этап программы разрабатывается эксклюзивно для каждой конкретной учебной группы, на основании обратной связи и практики участников после 1-го этапа, а также их потребностях в конкретных навыках коучингового стиля управления.</p>
                    <p>Обучение на программе сопровождают минимум 2 профессиональных бизнес-тренера, которые также являются профессиональными коучами с соответствующей международного сертификацией по стандартам ICF.</p>
                    <p>Обучение между этапами происходит в формате малых групп, а именно «троек», где участники имеют возможность продолжать практику на актуальных производственных задачах с коллегами, прошедшими обучение, а также давать друг другу развивающую обратную связь.</p>
                    <p>В программе существует возможность организации дополнительных групповых и индивидуальных встреч (в формате менторинга по коучинговым компетенциям лидера).</p>
                    <hr>
                    <p>Обучение по программе проходит в 2 этапа:</p>
                    <ul>
                      <li>I этап — 3-хдневный тренинг</li>
                      <li>II этап — 2-хдневный посттренинг, который проходит в срок от 3-х недель до 1,5 месяца с даты завершения первого этапа.</li>
                    </ul>
                    <p>Цель посттренинга — разбор опыта и практики коучинга, закрепление использования технологии коучинга, выход на новый уровень мастерства.</p>
                    <h3 class="text-center my-4">Темы, освещаемые в тренинге:</h3>
                    <h5>Раздел 1. Коучинг в управлении персоналом как новый стиль управления:</h5>
                    <ul>
                      <li>Почему коучинг в управлении персоналом стал популярным в 21 веке?</li>
                      <li>Цели и основные принципы бизнес коучинга.</li>
                      <li>Мировые результаты внедрения бизнес коучинга в работу компаний.</li>
                      <li>Как определить руководство в стиле коучинг?</li>
                      <li>Что дает бизнес-коучинг в области повышения руководства?</li>
                      <li>Ключевое отличие бизнес коучинга в управлении персоналом от других методов руководства.</li>
                      <li>Четыре шага развития руководства в стиле бизнес коучинга.</li>
                    </ul>
                    <h5>Раздел 2. Первый навык коучинга: эффективные вопросы:</h5>
                    <ul>
                      <li>Как направить сотрудника к ориентации на цели и результаты посредством эффективных вопросов.</li>
                      <li>Переход руководителя от роли консультанта – эксперта к вопросам.</li>
                      <li>Технология задавания эффективных вопросов.</li>
                      <li>В чем польза открытых вопросов?</li>
                      <li>Вопросы, направленные на построение результата – эффективные инструменты для изменений.</li>
                      <li>Вопросы по развитию видения – инструменты для создания энергии и приверженности видению.</li>
                      <li>Как повысить мотивацию сотрудника с помощью эффективных вопросов.</li>
                      <li>Ключевые аспекты формулировки результата.</li>
                    </ul>
                    <h5>Раздел 3. Навыки построения доверия с сотрудниками:</h5>
                    <ul>
                      <li>Природа создания доверительных отношений.</li>
                      <li>Понятие раппорта, построение раппорта, восстановление доверия.</li>
                      <li>Методы бизнес коучинга при управлении в сложных ситуациях.</li>
                      <li>Три типа сотрудников, как переводить сотрудника от жалоб к вовлеченности в выполнение задачи.</li>
                      <li>Принцип разделения ответственности между подчиненным и руководителем.</li>
                      <li>Три уровня слушания, которые может применять менеджер.</li>
                    </ul>
                    <h5>Раздел 4. Вопросы по логическим уровням:</h5>
                    <ul>
                      <li>Иерархия и структура вопросов, которые наиболее удобно соответствуют восприятию мозга.</li>
                      <li>Переход от общего плана, helicopter view  к деталям задачи или проекта.</li>
                      <li>Структура убеждения с использованием логических уровней.</li>
                      <li>Как улучшить понимание задачи сотрудниками?</li>
                      <li>Как логические уровни помогают оптимизировать затруднения в выполнении задачи?</li>
                    </ul>
                    <h5>Раздел 5. Структура коучинговой сессии:</h5>
                    <ul>
                      <li>3 элемента эффективной бизнес коучинг – беседы.</li>
                      <li>Эффективный контракт, временные рамки, SMART цели.</li>
                      <li>Как правильно сформулировать цель на встречу – эффективные приемы формулировки, секреты и закономерности.</li>
                      <li>Когда необходимо возвращать сотрудника к контракту?</li>
                      <li>Использование шкалы для прояснения целей и повышения мотивации.</li>
                      <li>Процедуры построения ресурсов: инструменты построения видения будущих достижений.</li>
                      <li>Системность: метафора «матрешки» и ее использование при обучении сотрудников стратегическому мышлению</li>
                    </ul>
                    <h5>Раздел 6. Обратная связь для создания приверженности – преодоление страха неудачи:</h5>
                    <ul>
                      <li>Механизмы восприятия неудачи.</li>
                      <li>Как развить у сотрудников оценку собственной продуктивности?</li>
                      <li>Как развить у сотрудника связь между результатами и его поведением?</li>
                      <li>Использование колеса коучинга для диагностики и развития способностей и навыков.</li>
                      <li>Как быстро выходить из рамки неудачи.</li>
                      <li>Как избежать ловушек силового руководства.</li>
                      <li>Стратегия поражения против стратегии обратной связи. </li>
                    </ul>
                    <h5>Раздел 7. Позиция коуча в руководстве людьми:</h5>
                    <ul>
                      <li>Структура коучингового диалога – начало, середина, конец.</li>
                      <li>Эффективная коучинг сессия один на один, по телефону, на обеде, 5 – минутная коучинг сессия.</li>
                      <li>Чудесные вопросы и форматы «как если бы».</li>
                      <li>Переход от ясных целей к результативным действиям.</li>
                      <li>Использование формата самооценки.</li>
                      <li>Использование контрольного списка успехов.</li>
                      <li>Завершение беседы и планирование первых шагов.</li>
                      <li>Подведение итогов, заполнение руководителями плана личного развития навыков управления в коучинг стиле.</li>
                    </ul>
                    <h5>Методы проведения тренинга:</h5>
                    <ul>
                      <li>Презентация теоретического материала, его обсуждение.</li>
                      <li>Заполнение тестов и опросников.</li>
                      <li>Групповое решение практических задач.</li>
                      <li>Решение типовых ситуаций в игровой форме.</li>
                      <li>Ролевые и деловые игры.</li>
                      <li>Коучинг в управлении персоналом.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="acc_heading1_3">
                  <h2 class="mb-0 text-center">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#acc_col_1_3" aria-expanded="false" aria-controls="acc_col_1_3">
                      Этапы работы
                    </button>
                  </h2>
                </div>
                <div id="acc_col_1_3" class="collapse" aria-labelledby="acc_heading1_3" data-parent="#accordion1">
                  <div class="card-body">
                    <ol>
                      <li>Определение запроса
                        <hr>
                        <p>Проведение собеседования с заказчиками программы и выбор инструментов.</p>
                      </li>
                      <li>Диагностика участников программы и адаптация программ
                        <hr>
                        <p>Проведение анкетирования и интервью с участниками тренинговых программ для идентификации уровня знаний и навыков.</p>
                      </li>
                      <li>Проведение тренингов
                        <hr>
                        <p>Проведение тренингов по выбранным инструментам коучинга в соответствии с запросом заказчиков и участников обучения.</p>
                      </li>
                      <li>Пост–тренинговое сопровождение
                        <hr>
                        <p>Анализ результатов обучения, обсуждение результатов с заказчиками, анализ динамики изменений, выработка рекомендаций по дальнейшему развитию (определение ключевых параметров, которые были улучшены, определение зон роста).</p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="individual_coaching" tabindex="-1" role="dialog" aria-labelledby="individual_coachingTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font_M700" id="individual_coachingTitle">Индивидуальный коучинг</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h6 class="font_M700">Мы поддерживаем лидеров в том, чтобы повысить осознанность и усилить свои лидерские навыки и компетенции.</h6>
            <h5 class="font_M700">Важность индивидуального коучинга:</h5>
            <p>Индивидуальный коучинг помогает развивать компанию и бизнес через работу с лидерами, развитие их компетенцией и трансформацию мышления. Сторонний независимый коуч не вовлечен в проблемы и культуру компании и может со стороны объективно смотреть на ситуацию. Этот человек слышит и задает сильные вопросы, которые побуждают к целостному виденью и осознанию ситуации, поиску наилучшего решения, мотивируют на действия и способствуют изменениям. Все диалоги конфиденциальны.</p>
            <h5 class="font_M700">Ценность долгосрочного коучинга:</h5>
            <p>При долгосрочном коучинге (минимум 15-18 сессий) изменения становятся устойчивыми. Это достигается за счет систематической поддержки и беседы с коучем, направленной на закрепления результатов и встраивание новых навыков, что требует времени. Долгосрочный коучинг позволяет избежать откатов к старому варианту поведения и старым неэффективным моделям.</p>
            <h5 class="font_M700">Какие задачи решает:</h5>
            <ul>
              <li>Развивает компетенции и коммуникативные навыки</li>
              <li>Поддерживает руководителей при вступлении в новую должность и расширение обязанностей</li>
              <li>Ускоряет процесс изменений, которые лидер проводит в компании</li>
              <li>Поддерживает на этапе реализации новых проектов и новых задач</li>
              <li>Сопровождает потенциальных руководителей (талантов) в новой должности</li>
              <li>Поддерживает при налаживании коммуникации в коллективе, в т.ч в устранении конфликтов</li>
              <li>Помогает создать план индивидуального развития</li>
              <li>Помогает лидерам обрести целостное видение развития компании</li>
            </ul>
            <h5 class="font_M700">Что дает руководителям (топ-менеджерам) работа с коучем:</h5>
            <ul>
              <li>Преодолевает личные ограничения, препятствующие развитию отношений и достижению стратегических бизнес-результатов</li>
              <li>Развивает уверенность и навыки управления и влияния на организационные изменения в одном из направлений общего видения развития бизнеса</li>
              <li>Помогает создавать видение развития бизнеса, основанное на личных ценностях</li>
              <li>Развивает навыки по управлению основными организационными изменениями</li>
              <li>Помогает лучше осознавать, как собственный личностный стиль влияет на других людей</li>
              <li>Развивает способности влиять и раскрывать потенциал других людей</li>
              <li>Помогает развить уверенность и навыки управления конфликтами</li>
              <li>Развивает способности задавать продвигающие вопросы, которые воодушевляют и мотивируют других</li>
              <li>Поддерживает в преодолении значимых профессиональных и карьерных неудач, влияющих на мотивацию и приверженность</li>
            </ul>
            <div class="accordion" id="accordion2">
              <div class="card">
                <div class="card-header" id="heading2_1">
                  <h2 class="mb-0 text-center">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2_1" aria-expanded="true" aria-controls="collapse2_1">
                      К каким результатам приводит – отзывы компаний-клиентов
                    </button>
                  </h2>
                </div>

                <div id="collapse2_1" class="collapse" aria-labelledby="heading2_1" data-parent="#accordion2">
                  <div class="card-body">
                    <p>Отзыв Компании ABBVIE по результатам обучения индивидуальному коучингу: «Внедрение новых проектов похоже на высаживание оазисов в пустыне.
                      Ключевые затыки и тараканы просто так не преодолеваются.
                      Коучинг - это волшебство».</p>
                      <h3 class="text-center">
                        АBBVIE
                      </h3>
                      <p>опыт внедрения коучинга в российском филиале (около 200 человек).</p>
                      <hr>
                      <h5>Задачи клиента:</h5>
                      <p>Задачи по индивидуальным планам развития. (планы реальные, не формальные)</p>
                      <ul>
                        <li>развитие стратегического мышления</li>
                        <li>повышение эффективности команды</li>
                        <li>расстановка приоритетов</li>
                        <li>гибкость в общении</li>
                      </ul>
                      <h5>Что было предложено:</h5>
                      <h6>Александра Тюрина, Training Specialist Commercial Excellence PPD</h6>
                      <p>«Мы использовали внешний коучинг. Внутренний коучинг не использовали, поскольку процесс интимный, и, когда заходит речь о более глубоких вещах, о которых хочется поговорить, у людей инстинктивно возникает страх. Поэтому мы приглашали внешних коучей Международного Эриксоновского Университета Коучинга и договаривались со своими сотрудниками, что они работать будут глубоко. И они работают глубоко. Люди готовы открываться. Это самое главное.</p>
                      <p>Мы внедряли коучинг на уровне директоров бизнес-юнитов (уровень -1) и бренд-менеджеров (уровень -3). Внедряли только среди тех сотрудников, которые сами хотят работать с коучем, поскольку я сама прошла на опыте, что принудительно причинить добро невозможно. А если учесть, что внешний коучинг – это реально дорого, то лучше я буду вкладывать в тех, кто действительно хочет. Начинали с директора бизнес-юнита, с продвинутой женщины, которая уже прошла все, что только можно. И все, что ей ещё можно было бы предложить это или MBA или коучинг, поскольку это индивидуальный подход, это классно, это интересно.</p>
                      <hr>
                      <h5>Результаты для руководителей, работающих с коучем:</h5>
                      <p>100% результат, люди пользуются. У всех растет стратегическое видение, смотрят шире на бизнес, используют новые модели. Люди ищут разнообразные варианты, а как еще можно…? Следовательно, усиливается гибкость в решении задач в современных условиях рынка. Мы продаем препараты, которые не продаются в аптеках. Нужно быть гибким, так как планы по продажам растут.</p>
                      <p>Из тех, кому предлагали попробовать коучинг никто не срывался. Все как начали работать с коучем, так работают уже второй, третий год. Пускай 5 сессий в год, но они этим пользуются. Результаты у нас хорошие и результаты в 100% случаев.</p>
                      <h5>Результаты для бизнеса:</h5>
                      <p>Выросли амбиции, инновационнй подход. Люди не бояться пробовать и совершенно нестандартные какие-то подходы предлагать и с точки зрения бизнеса и с точки зрения как мы команду развиваем.</p>
                      <p>Мы получили 100% результат, но очень медленный. Люди работают над такими вещами как стратегическое мышление, гибкое общение. Это уходит в глубокие вещи, изменение психики, у взрослых людей оно очень медленное. Это при том, что 5 сессий в год. Они приходят и сами просят эти сессии. Руководитель сама предложила нанять коуча для своих подчиненных, значит действительно она видит результат.</p>
                      <h5>Результаты для команды:</h5>
                      <p>Повысился уровень доверия в самой команде, желание сотрудничать друг с другом, гибкость в общении, умение лучше коммуницировать, это получилось, больше демократии. Руководители спрашивают людей, а как они видят команду. Какие компетенции они хотят развивать. И все взяли на себя обязательства реально развивать. Мы готовы это обсуждать в открытом формате, что их в руководителе не устраивает. Забота о климате, климат стал получше.
                        Снижается страх делегировать.</p>
                      <h5>Результаты для HR-подразделения:</h5>
                      <p>У сотрудников появляется доверие и готовность к новому. Реакция команды становится: а давайте! Возникает желание обучать команду.</p>
                      <h5>Риски внедрения:</h5>
                      <p>Рисков нет, потому что коучи работали только с теми руководителями, которые были готовы.</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading2_2">
                  <h2 class="mb-0 text-center">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2_2" aria-expanded="false" aria-controls="collapse2_2">
                      Этапы Работы
                    </button>
                  </h2>
                </div>
                <div id="collapse2_2" class="collapse" aria-labelledby="heading2_2" data-parent="#accordion2">
                  <div class="card-body">
                    <ol>
                      <li class="font-weight-bold">Определение первичного запроса
                        <p class="font-weight-normal">Прояснение запроса всех участников проекта со стороны заказчика, определение сроков проекта, периодичности работы с коучами.</p>
                      </li>
                      <li class="font-weight-bold">Знакомство участников проекта и внешних коучей
                        <p class="font-weight-normal">Предоставление участникам проекта резюме коучей.</p>
                        <p class="font-weight-normal">Организация встречи участников проекта с коучами. Два возможных формата:</p>
                        <ul class="font-weight-normal">
                          <li>организация встречи: 2-х часовая презентация коучинга и общение с коучами.</li>
                          <li>проведение интервью каждого участника с заинтересовавшим его коучем.</li>
                        </ul>
                      </li>
                      <li class="font-weight-bold">Проведение коучинговых сессий
                        <p class="font-weight-normal">Получение коучем информационного пакета об участнике проекта (возможно: резюме, результаты 360-градусного опросника, результаты психологического теста или личностного опросника, план личного развития, должностные компетенции и цели на год и т.д.)
                          Определение формата отчета участника проекта для компании (по желанию).</p>
                        <p class="font-weight-normal">Проведение стартовой трехсторонней встречи между представителем заказчика (руководителем участника и/или представителя HR-службы), участником и выбранным им коучем: согласование цели и результатов работы, этики работы коуча, порядка прояснения спорных ситуаций, согласование формы отчетности участника и периодичности ее предоставления.</p>
                      </li>
                    </ol>
                    <p>Проведение коуч-сессий в соответствии с запросом участника проекта.
                      Предоставление отчета участника проекта о промежуточных результатах работы с коучем для компании (по желанию).</p>
                      <p>Проведение финальной трехсторонней встречи (в формате коуч-сессии, 1 час). Анализ результатов обучения, обсуждение результатов с заказчиками, анализ динамики изменений, выработка рекомендаций по дальнейшему развитию (определение ключевых параметров, которые были улучшены, определение зон роста).
                        Проведение коучинговых сессий и трехсторонних встреч оплачивается по тарифам Международного Эриксоновского Университета коучинга на основании подписанного договора на почасовой основе (1 час индивидуального коучинга = 60 минут).</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="team_coaching" tabindex="-1" role="dialog" aria-labelledby="team_coachingTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font_M700" id="team_coachingTitle">Командный коучинг</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5 class="font_M700">Современные методы управления и коммуникаций.</h5>
            <p>Ни один успешный продукт или компания не строятся на способностях только одного человека. Менеджмент - это искусство мотивировать и вдохновлять команду на достижение цели. Каждый из нас знает на своем опыте, как отличаются группа людей и сильная команда. Но что составляет основу сильной команды? Как мы можем последовательно выстроить результативную команду? Сегодня больше, чем когда-либо, способность тренировать командное мышление является ключевым навыком в управлении проектами.</p>
            <h5 class="font_M700">Аудитория тренинга</h5>
            <p>Лидеры бизнеса, руководители всех уровней (руководители отделов, менеджеры среднего звена, топ -менеджеры), которым необходимо использовать потенциал и ресурсы проектной команды для эффективного достижения целей компании.</p>
            <h5 class="font_M700">Цели и задачи тренинга</h5>
            <ul>
              <li>Повышение личной эффективности и улучшение результатов работы.</li>
              <li>Умение расставлять приоритеты и оптимизировать используемые человеческие ресурсы.</li>
              <li>Управлять командными процессами - стимулирование инновационного мышления через динамические паттерны групп, команд и организаций.</li>
              <li>Навыки создания совместного видения и плана действий.</li>
              <li>Навыки вовлечения сотрудников в проектную работу.</li>
              <li>Работа с ресурсами собственного стиля руководства.</li>
              <li>Освоение новых методов управления проектными командами.</li>
              <li>Навыки повышения мотивации сотрудников для достижения корпоративных результатов.</li>
              <li>Навыки повышения инициативности сотрудников и способы достижения поставленных целей.</li>
            </ul>
            <div class="accordion" id="accordion3">
              <div class="card">
                <div class="card-header" id="heading3_1">
                  <h2 class="mb-0 text-center">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3_1" aria-expanded="true" aria-controls="collapse3_1">
                      Программа
                    </button>
                  </h2>
                </div>

                <div id="collapse3_1" class="collapse" aria-labelledby="heading3_1" data-parent="#accordion3">
                  <div class="card-body">
                    <h3 class="text-center">Темы, освещаемые в тренинге:</h3>
                    <h5>Раздел 1. Введение в тренинг. Управление проектами и коучинг в современной организации.</h5>
                    <ul>
                      <li>Важность командной работы. Как осуществляется фасилитация команды.</li>
                      <li>Командный интеллект, командный разум, эффект взлета результативности.</li>
                      <li>Типы управления командами.</li>
                    </ul>
                    <h5>Раздел 2. Техника принятия командных решений:</h5>
                    <ul>
                      <li>Чем команда отличается от группы?</li>
                      <li>Стили руководства. Их преимущества и недостатки.</li>
                      <li>Как ускорить принятие эффективного командного решения?</li>
                      <li>12 вопросов Gallup International и их использование для диагностики мотивации в команде.</li>
                    </ul>
                    <h5>Раздел 3. Как ставить командные цели:</h5>
                    <ul>
                      <li>Каковы критерии эффективной формулировки целей?</li>
                      <li>Как повысить качество работы через цели которые: позитивны, подконтрольны, SMART и экологичны.</li>
                      <li>Распределение приоритетов.</li>
                      <li>Командный договор - на проект и на встречу.</li>
                      <li>Четыре стадии планирования проекта: вдохновение, внедрение, мотивирование и завершение проекта.</li>
                    </ul>
                    <h5>Раздел 4. Принципы организации проектной команды: Что используют лучшие менеджеры при работе в проектной команде?</h5>
                    <ul>
                      <li>Основные принципы, необходимые для достижения успеха в проектной работе.</li>
                      <li>Парадоксы управления проектной командой - как внедрить изменения?</li>
                      <li>Как люди вовлекаются в то, что делают и в то, чего хотят?</li>
                      <li>Ключевые навыки вдохновения и рамка результата.</li>
                    </ul>
                    <h5>Раздел 5. Навыки построения отношений:</h5>
                    <ul>
                      <li>Виртуозные навыки раппорта.</li>
                      <li>Методы восстановления раппорта.</li>
                      <li>Как уменьшить вредное воздействие интриг и трудных отношений в коллективе.</li>
                    </ul>
                    <h5>Раздел 6. Коучинг команд. Как задавать Великие вопросы:</h5>
                    <ul>
                      <li>Что такое поощряющий диалог?</li>
                      <li>Что нужно спросить у группы, чтобы она получила максимальную пользу?</li>
                      <li>Техника задавания вопросов по логическим уровням.</li>
                      <li>Какие вопросы максимально мотивируют людей?</li>
                      <li>Как с помощью вопросов направлять ваших сотрудников к четким целям и результатам?</li>
                      <li>Когда нужно создавать мыслительные карты? Стратегии эффективного лидерства.</li>
                    </ul>
                    <h5>Раздел 7. Вопросы по нейрологическим уровням</h5>
                    <ul>
                      <li>Вопросы, соответствующие структуре работы нашего мозга.</li>
                      <li>Вопросы по главным деталям нашего плана.</li>
                      <li>Как усилить понимание навыков лидерства через принципы системности и баланса.</li>
                      <li>Как усилить свое понимание стратегий и целей через видение "большой картины".</li>
                    </ul>
                    <h5>Раздел 8. Стадии развития команд:</h5>
                    <ul>
                      <li>Стадии развития команд: тренинг - тестирование - коучинг - партнерство.</li>
                      <li>Как достигаются цели на каждой стадии?</li>
                      <li>Какой стиль руководства важен на каждой стадии развития команды?</li>
                    </ul>
                    <h5>Раздел 9. Повышение качества командного диалога:</h5>
                    <ul>
                      <li>Как сформировать командный диалог?</li>
                      <li>Какова роль лидера в команде?</li>
                      <li>Функции команды - стадии коучинга.</li>
                    </ul>
                    <h5>Раздел 10. Фасилитация команд - управление совещанием:</h5>
                    <ul>
                      <li>Роль руководителя в повышении эффективности работы команды на совещании.</li>
                      <li>Важные моменты в планировании совещания и в процессе совещания.</li>
                      <li>Мозговой Штурм - сердце командного диалога. Как сделать мозговой штурм максимально эффективным?</li>
                      <li>Создание Хартии команды.</li>
                    </ul>
                    <h5>Раздел 11. Создание командной истории:</h5>
                    <ul>
                      <li>Вдохновляющая метафора.</li>
                      <li>Для чего создается командная история?</li>
                      <li>Самая лучшая история про опыт командного взаимодействия.</li>
                      <li>Как сформулировать командную историю для этой проектной команды.</li>
                    </ul>
                    <h5>Раздел 12. Формирование ценностей команды:</h5>
                    <ul>
                      <li>Колесо ценностей, как инструмент поднятия мотивации.</li>
                      <li>Ключевые ценности команды.</li>
                      <li>Колесо ценностей, как инструмент поднятия мотивации.
                        Ключевые ценности команды
                        Как совместить индивидуальные ценности участников проекта?</li>
                      <li>Действия команды на основе самых ключевых ценностей.</li>
                    </ul>
                    <h5>Раздел 13. Формирование миссии:</h5>
                    <ul>
                      <li>Основные подходы к формированию миссии.</li>
                      <li>Какие ключевые характеристики должна содержать миссия?</li>
                      <li>Создание вдохновляющей миссии: какой она должна быть?</li>
                      <li>Что такое видение?</li>
                      <li>Усиление миссии через командное видение. Раздел 14. Стратегия разработки проектов по методу Уолта Диснея.</li>
                      <li>Три разных уровня мышления.</li>
                      <li>Процесс планирования проекта по шагам: Мечтатель, Реалист, Критик.</li>
                      <li>Основные аспекты каждой стадии.</li>
                      <li>Как руководитель может провести команду по шагам?</li>
                    </ul>
                    <h5>Раздел 15. Разработка проекта в соответствии со стадиями развития:</h5>
                    <ul>
                      <li>Стадии развития мастерства.</li>
                      <li>Как люди учатся.</li>
                      <li>Характерные черты каждой стадии.</li>
                      <li>Действия руководителя на каждой стадии: формирование, концентрация усилий, медленный рост, быстрый рост, стабильность, прорыв, мастерство.</li>
                      <li>Сложности и ключевые аспекты каждой стадии развития проекта.</li>
                    </ul>
                    <h5>Раздел 16. Составление проекта. Анализ рисков:</h5>
                    <ul>
                      <li>Что делать, если план проекта не работает?</li>
                      <li>Картезианские вопросы.</li>
                      <li>Прояснение ситуации и выход из конфликта.</li>
                      <li>Как привести команду к новому комплексному решению?</li>
                    </ul>
                    <h5>Раздел 17. Создание рабочей атмосферы для проектной команды:</h5>
                    <ul>
                      <li>4 области, на которые руководитель обращает внимание</li>
                      <li>Создание четкой перспективы.</li>
                      <li>Создание значимых результатов и достижений.</li>
                      <li>Комфортная атмосфера.</li>
                      <li>Вовлечение сотрудников в смысл и долгосрочное влияние проекта.</li>
                      <li>Кто Ваши акционеры?</li>
                      <li>Создание баланса в четырех сферах.</li>
                    </ul>
                    <h5>Раздел 18. Подведение итогов проекта:</h5>
                    <ul>
                      <li>Каким будет лучшее подведение результатов?</li>
                      <li>Ключевые идеи для поощрения сотрудников.</li>
                      <li>After Project Review, как инструмент обучения проектной команды.</li>
                      <li>Демонстрация эффективности в коротких вдохновляющих диалогах.</li>
                      <li>Использование формата самооценки.</li>
                      <li>Празднование успехов.</li>
                      <li>Использование проверочных списков для достижения успеха.</li>
                    </ul>
                    <h5>Раздел 19. Обратная связь в проекте:</h5>
                    <ul>
                      <li>Использование шкалы, критериев в процессе подачи обратной связи.</li>
                      <li>Механизмы подачи позитивной обратной связи.</li>
                      <li>Парадоксы обратной связи.</li>
                      <li>Мышление направленное на достижение успеха и мышление, направленное на поражение.</li>
                    </ul>
                    <h6>Подведение итогов, заполнение менеджерами плана личного развития навыков управления проектной командой.</h6>
                    <hr>
                    <h3 class="text-center">Методы проведения тренинга:</h3>
                    <ul>
                      <li>Презентация теоретического материала, его обсуждение.</li>
                      <li>Анализ учебных видеофильмов.</li>
                      <li>Групповое решение практических задач.</li>
                      <li>Ролевые и деловые игры.</li>
                      <li>Видео/аудио запись фрагментов тренинга с последующим анализом отснятого материала.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading3_2">
                  <h2 class="mb-0 text-center">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3_2" aria-expanded="false" aria-controls="collapse3_2">
                      Этапы работы
                    </button>
                  </h2>
                </div>
                <div id="collapse3_2" class="collapse" aria-labelledby="heading3_2" data-parent="#accordion3">
                  <div class="card-body">
                    <ol>
                      <li class="font-weight-bold">Определение запроса
                        <hr>
                        <p class="font-weight-normal">Проведение встречи HR-Директором Компании и Руководителем подразделения с целью прояснение запроса, целей и результатов командного коучинга, особенностей деятельности команды, взаимодействия между людьми, объединяющих ценностей, ролей в команде, вызовов.
                          <br>Согласование сроков проекта, количества часов командной работы внешних тренеров-коучей с участниками проекта.</p>
                      </li>
                      <li class="font-weight-bold">Проведение встречи HR-Директором Компании и Руководителем подразделения с целью прояснение запроса, целей и результатов командного коучинга, особенностей деятельности команды, взаимодействия между людьми, объединяющих ценностей, ролей в команде, вызовов.
                        Согласование сроков проекта, количества часов командной работы внешних тренеров-коучей с участниками проекта.
                        <hr>
                        <p class="font-weight-normal">Предоставление Заказчику проекта резюме выбранных Тренеров-коучей.</p>
                        <p class="font-weight-normal">Проведение встречи выбранного Тренера-коуча с HR-директором и Руководителем подразделения для прояснения запроса, цели и результата сессии командного коучинга с данной командой.</p>
                        <p class="font-weight-normal">Предварительная разработка Тренером-коучем программы командной сессии на основании проведенных встреч и ее согласование с Руководителем и HR-Директором.</p>
                        <p class="font-weight-normal">Подготовка опросника для участников и проведение индивидуального собеседования с каждым членом команды для прояснения целей на командную сессию, в том числе с Руководителем подразделения как с участником процесса с целью прояснения его личных целей и пожеланий.</p>
                        <p class="font-weight-normal">Финальное согласование Подготовка Тренером-коучем программы сессии командной сессии и согласование с Руководителем и HR-Директором.</p>
                      </li>
                      <li class="font-weight-bold">Проведение командной коучинговой сессии в соответствии с целями и задачами заказчика, навыками членов команды.</li>
                      <hr>
                      <li class="font-weight-bold">Пост–сессионное сопровождение.
                        <hr>
                        <p class="font-weight-normal">Анализ результатов командного коучинга, обсуждение результатов с заказчиками, анализ динамики изменений, разработка стратегии и шагов по дальнейшему развитию (определение ключевых параметров, которые были улучшены, определение зон роста). Возможно проведение ряда командных сессий от 1 до 5 сессий с периодичностью 1 раз в 1-6 месяцев по желанию Заказчика.</p>
                      </li>
                    </ol>
                    <p class="font-weight-bold">Международный Эриксоновский Университет коучинга оставляет за собой право предлагать наполнение тренингов по результатам этапа диагностики.</p>
                    <p class="font-weight-bold">Также может быть расширен или изменен тренерский состав.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="coaching_360" tabindex="-1" role="dialog" aria-labelledby="coaching_360Title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font_M700" id="coaching_360Title">Коучинг после оценки 360</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5 class="font_M700">Feedback коучинг</h5>
            <p>Актуальность данного коучинга обусловлена тем, что позволяет легко и дружелюбно адаптировать результаты оценки в планы развития топ-менедера или линейного руководителя.</p>
            <p>Акцент делается на важных моментах с целью создания личного плана развития сотрудника.</p>
            <h5 class="font_M700">Формат коучинга:</h5>
            <ul>
              <li>Количество сессий - от 1-й до 3-х:
                <ul>
                  <li>1-я сессия - адаптация к результатам оценки (feedback coaching)</li>
                  <li>2-я сессия - создание сотрудником (топ-менеджером или линейным сотрудником) индивидуального плана развития</li>
                  <li>3-я сессия - трехсторонняя встреча (сотрудник, коуч и руководитель сотрудника ) для финального согласования</li>
                </ul>
              </li>
              <li>Индивидуального Плана Развития.</li>
              <li>Далее индивидуальное сопровождение руководителя в течение года, поддержка на этапе внедрения - количество сессий от 6 до 20 по желанию Заказчика.</li>
            </ul>
            <h6 class="font_M700">Что дает руководителям работа с коучем по результатам 360°-опроса</h6>
            <ul>
              <li>Определяет и поддерживает сильные стороны индивидуального стиля общения и помогает выйти за личные ограничения.</li>
              <li>Развивает способность создавать профиль текущей или желаемой должности, чтобы ей соответствовать.</li>
              <li>Увеличивает эффективность общения с людьми разных личностных стилей.</li>
              <li>Помогает формировать план развития карьеры и план достижения успеха.</li>
              <li>Помогает внедрить в компании подход к оценке лидеров по системе 360 градусов.</li>
              <li>Создает безопасную зону для исследования профессиональной жизни и межличностных конфликтов.</li>
              <li>Разрабатывает стратегию расширения социальных связей и сферы влияния.</li>
              <li>Помогает создать или развивать фундамент для личного лидерства.</li>
              <li>Помогает научиться управлять стрессом на работе.</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
    </section>
{% endblock block_content %}