{% extends 'main/base.html' %}
{% load static %}
{% block description %}Erickson Coaching. Коучинг Ростов на Дону. Эриксон коучинг{% endblock description %}
{% block keywords %}Erickson Coaching. Коучинг Ростов на Дону. Эриксон коучинг{% endblock keywords %}
{% block title %}Erickson Coaching - Управленческий коучинг{% endblock title %}
{% block block_content %}
<section class="management-coaching">

  <div class="management_top">
    <div class="px-2 text-center container h-100 d-flex flex-column justify-content-center">
      <h1>Управленческий коучинг</h1>
      <p>
        Программа Международного Эриксоновского Университета коучинга для
        руководителей, которым необходимо развивать, мотивировать подчиненных,
        улучшать результативность их работы, оптимизировать достижение
        поставленных целей и повышать приверженность корпоративным ценностям.
      </p>
    </div>
  </div>

  <div class="management_1 mt-5">
    <div class="container">
        <h1 class="mb-4">В результате тренинга руководители:</h1>
        <table class="table table-hover">
          <tr>
              <td>На практике узнают, что такое руководство в стиле бизнес коучинга и в чем его преимущества.</td>
          </tr>
          <tr>
              <td>Получат набор конкретных навыков бизнес коучинга в управлении людьми.</td>
          </tr>
          <tr>
              <td>Научатся проводить эффективную беседу в стиле бизнес коучинг со своими подчиненными.</td>
          </tr>
          <tr>
              <td>Получат инструменты управления мотивацией подчиненных, приверженностью целям и ценностям компании.</td>
          </tr>
          <tr>
            <td>Научатся ставить своим подчиненным цели и обеспечивать достижение результатов.</td>
          </tr>
          <tr>
            <td>Научатся поощрять сотрудников к самоанализу, открытой обратной связи и развитию.</td>
          </tr>
      </table>
    </div>
  </div>

  <div class="management_2 mt-5">
    <div class="container text-center">
      <h1 class="mb-4">Видео - коучинг в управлении:</h1>
      <iframe src="https://www.youtube.com/embed/0nHZwD30WSo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="management_3 mt-5">
    <div class="container text-center">
      <h1 class="text-center">Методы проведения тренинга</h1>
      <hr>
      <h5>Презентация теоретического материала, его обсуждение.</h5>
      <h5>Групповое решение практических задач.</h5>
      <h5>Решение типовых ситуаций в игровой форме.</h5>
      <h5>Решение типовых ситуаций в игровой форме.</h5>
      <h5>Разбор ситуаций из личного опыта участников.</h5>
      <h5>Ролевые и деловые игры.</h5>
      <div class="border-white-rad50 p-1">
        <h4 class="text-center m-0">Стоимость программы</h4>
        <h4 class="text-center m-0">42 000 рублей</h4>
          <p class="text-center m-0">продолжительность: 3 дня</p>
    </div>
    </div>
  </div>

  <div class="management_4 mt-5">
    <div class="container">
      <h1 class="mb-4">Темы, освещаемые на тренинге</h1>
        <div class="row">
          <div class="col-sm-1 text-center">
            <div class="number d-flex align-items-center justify-content-center mr-2">
            <p class="m-0">1</p>
          </div>
          </div>
          <div class="col-sm-11 d-flex align-items-center">
            <h5 class="m-0">Раздел: Коучинг, как новый стиль управления.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-11">
            <p>Коучинг в управлении персоналом как новый стиль управления:</p>
            <ul>
              <li>Почему коучинг в управлении персоналом стал популярным в 21 веке?</li>
              <li>Цели и основные принципы бизнес коучинга.</li>
              <li>Мировые результаты внедрения бизнес коучинга в работу компаний.</li>
              <li>Как определить руководство в стиле коучинг?</li>
              <li>Что дает бизес коучинг в области повышения руководства?</li>
              <li>Ключевое отличие бизнес коучинга в управлении персоналом от других методов руководства.</li>
              <li>Четыре шага развития руководства в стиле бизнес коучинга.</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1">
            <div class="number d-flex align-items-center justify-content-center">
            <p class="m-0">2</p>
          </div>
          </div>
          <div class="col-sm-11 d-flex align-items-center">
            <h5 class="m-0">Раздел: Навыки построения доверия с сотрудниками.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-11">
            <p>Первый навык коучинга:  эффективные вопросы:</p>
            <ul>
              <li>Как направить сотрудника к ориентации на цели и результаты посредством эффективных вопросов.</li>
              <li>Переход руководителя от роли консультанта – эксперта к вопросам.</li>
              <li>Технология задавания эффективных вопросов.</li>
              <li>В чем польза открытых вопросов?</li>
              <li>Вопросы, направленные на построение результата – эффективные инструменты для изменений.</li>
              <li>Вопросы по развитию видения – инструменты для создания энергии и приверженности видению.</li>
              <li>Как повысить мотивацию сотрудника с помощью эффективных вопросов.</li>
              <li>Ключевые аспекты формулировки результата.</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1">
            <div class="number d-flex align-items-center justify-content-center">
            <p class="m-0">3</p>
          </div>
          </div>
          <div class="col-sm-11 d-flex align-items-center">
            <h5 class="m-0">Раздел: Первый навык коучинга – эффективные вопросы.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-11">
            <p>Навыки построения доверия с сотрудниками:</p>
            <ul>
              <li>Природа создания доверительных отношений.</li>
              <li>Понятие раппорта, построение раппорта, восстановление доверия.</li>
              <li>Методы бизнес коучинга при управлении в сложных ситуациях.</li>
              <li>Три типа сотрудников, как переводить сотрудника от жалоб к вовлеченности в выполнение задачи.</li>
              <li>Принцип разделения ответственности между подчиненным и руководителем.</li>
              <li>Три уровня слушания, которые может применять менеджер.</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1">
            <div class="number d-flex align-items-center justify-content-center">
            <p class="m-0">4</p>
          </div>
          </div>
          <div class="col-sm-11 d-flex align-items-center">
            <h5 class="m-0">Раздел: Вопросы по логическим уровням.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-11">
            <p>Вопросы по логическим уровням:</p>
            <ul>
              <li>Иерархия и структура вопросов, которые наиболее удобно соответствуют восприятию мозга.</li>
              <li>Переход от общего плана, helicopter view  к деталям задачи или проекта.</li>
              <li>Структура убеждения с использованием логических уровней.</li>
              <li>Как улучшить понимание задачи сотрудниками?</li>
              <li>Как логические уровни помогают оптимизировать затруднения в выполнении задачи?</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1">
            <div class="number d-flex align-items-center justify-content-center">
            <p class="m-0">5</p>
          </div>
          </div>
          <div class="col-sm-11 d-flex align-items-center">
            <h5 class="m-0">Раздел: Структура коучинговой сессии.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-11">
            <p>Структура коучинговой сессии:</p>
            <ul>
              <li>3 элемента эффективной бизнес коучинг – беседы.</li>
              <li>Эффективный контракт, временные рамки, SMART цели.</li>
              <li>Как правильно сформулировать цель на встречу – эффективные приемы формулировки, секреты и закономерности.</li>
              <li>Когда необходимо возвращать сотрудника к контракту?</li>
              <li>Использование шкалы для прояснения целей и повышения мотивации.</li>
              <li>Процедуры построения ресурсов: инструменты построения видения будущих достижений.</li>
              <li>Системность: метафора «матрешки» и ее использование при обучении сотрудников стратегическому мышлению</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1">
            <div class="number d-flex align-items-center justify-content-center">
            <p class="m-0">6</p>
          </div>
          </div>
          <div class="col-sm-11 d-flex align-items-center">
            <h5 class="m-0">Раздел: Обратная связь для создания приверженности – преодоление страха неудачи.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-11">
            <p>Обратная связь для создания приверженности – преодоление страха неудачи:</p>
            <ul>
              <li>Механизмы восприятия неудачи.</li>
              <li>Как развить у сотрудников оценку собственной продуктивности?</li>
              <li>Как развить у сотрудника связь между результатами и его поведением?</li>
              <li>Использование колеса коучинга для диагностики и развития способностей и навыков.</li>
              <li>Как быстро выходить из рамки неудачи.</li>
              <li>Как избежать ловушек силового руководства.</li>
              <li>Стратегия поражения против стратегии обратной связи. </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1">
            <div class="number d-flex align-items-center justify-content-center">
            <p class="m-0">7</p>
          </div>
          </div>
          <div class="col-sm-11 d-flex align-items-center">
            <h5 class="m-0">Раздел: Позиция коуча в руководстве людьми.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-11">
            <p>Позиция коуча в руководстве людьми:</p>
            <ul>
              <li>Структура коучингового диалога – начало, середина, конец.</li>
              <li>Эффективная коучинг сессия один на один, по телефону, на обеде, 5 – минутная коучинг сессия.</li>
              <li>Чудесные вопросы и форматы «как если бы».</li>
              <li>Переход от ясных целей к результативным действиям.</li>
              <li>Использование формата самооценки.</li>
              <li>Использование контрольного списка успехов.</li>
              <li>Завершение беседы и планирование первых шагов.</li>
              <li>Подведение итогов, заполнение руководителями плана личного развития навыков управления в коучинг стиле.</li>
            </ul>
          </div>
        </div>
    </div>
</div>


        <!--CONTACT-->
        <a name="contact"></a>
        <div class="container-fluid mt-5">
            <div class="container contact_block border py-4">
                <div class="text-center pb-5">
                    <h1 class="title_block pb-2">Оставьте заявку</h1>
                </div>
                <form action="/" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group py-3">
                                {{ form.subject.errors }}
                                {{ form.subject }}
    <!--                            <input type="text" name="name" class="form-control" placeholder="Введите имя">-->
                            </div>
                            <div class="form-group py-3">
                                {{ form.phone.errors }}
                                {{ form.phone }}
    <!--                            <input type="tel" name="tel" class="form-control" placeholder="Введите телефон">-->
                            </div>
                            <div class="form-group py-3">
                                {{ form.sender.errors }}
                                {{ form.sender }}
    <!--                            <input type="email" name="email" class="form-control" placeholder="Введите электронную почту">-->
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group py-3">
                                {{ form.message.errors }}
                                {{ form.message }}
    <!--                            <textarea class="form-control" name="text" placeholder="Задайте нам вопрос"></textarea>-->
                            </div>
                        </div>
                    </div>
                    <div class="container text-center">
                        <button class="btn py-2 px-5 my-2 my-sm-0 px-4" type="submit">
                            Оставить заявку
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--END CONTACT-->

</section>
{% endblock block_content %}
