{% extends 'main/base.html' %}
{% load static %}
{% block description %}Erickson Coaching. Коучинг Ростов на Дону. Эриксон коучинг{% endblock description %}
{% block keywords %}Erickson Coaching. Коучинг Ростов на Дону. Эриксон коучинг{% endblock keywords %}
{% block title %}Erickson Coaching - Менторинг{% endblock title %}
{% block block_content %}
<section class="mentoring">
    <div class="management_top">
        <div class="px-2 text-center container h-100 d-flex flex-column justify-content-center">
          <h1>Менторинг — поддержка в развитии и сертификации коуча</h1>
        </div>
      </div>
      <div class="ment-1 container mt-5">
          <h3 class="font_M700 text-center">Менторинг – это один из методов обучения и эффективного профессионального роста коуча.</h3>
          <h6 class="mt-4 text-justify"><span class="font_M700" style="color: #f15a29; text-decoration: underline;">В результате прохождения менторинга</span> коуч учится разбираться в тонкостях коучинговых отношений с помощью анализа и развития осознанности относительно происходящего между коучем и клиентом в процессе коучинговой сессии и коучинговых отношений.</h6>
          <h6>Приобретает понимание места и времени применения коучинговых техник и методик, а также их влияние на коучинговые отношения, на клиента и на его продвижение к коучинговым целям.</h6>
          <h6>Благодаря расширению понимания и осознанности своих сознательных и бессознательных стратегий учится использовать их как ресурсы для дальнейшего развития и возможностей в работе с клиентами.</h6>
      </div>
      <div class="py-4"></div>
      <div class="ment-2 container mt-5">
        <div class="fis_back">
            <h3 class="font_M700 text-center">Для тех, кто хочет продвинуться к получению своего золотого сертификата, развить свои коучинговые компетенции, а так же послушать или провести коуч-сессию.</h3>
        </div>
      </div>
      <div class="py-4"></div>
      <div class="ment-3 container mt-5">
          <div class="par_m">
              <p>Как часто Вы задумываетесь о том, какие компетенции в работе с клиентами у Вас сильны, а на какие стоит обратить дополнительное внимание?</p>
          </div>
          <div class="par_m">
              <p>Как Вы планируете и поддерживаете свой профессиональное и личностное развитие как коуча?</p>
          </div>
          <div class="par_m">
            <p>Какую информацию для развития Вы получаете из своей практики, собственных реакций на клиентов и обратной связи от них?</p>
        </div>
        <div class="par_m">
            <p>Как интегрируете свои личностные и профессиональные особенности для формирования уникального стиля коучинга?</p>
        </div>
        <div class="par_m">
            <p>Как Вы расширяете и углубляете понимание себя и своих коучинговых клиентов?</p>
        </div>
      </div>
</section>
    <!--CONTACT-->
    <a name="contact"></a>
    <div class="container-fluid mt-5">
        <div class="container contact_block border py-4">
            <div class="text-center pb-5">
                <h1 class="title_block pb-2">Оставьте заявку</h1>
            </div>
            <form action="/" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group py-3">
                            {{ form.subject.errors }}
	                        {{ form.subject }}
<!--                            <input type="text" name="name" class="form-control" placeholder="Введите имя">-->
                        </div>
                        <div class="form-group py-3">
                            {{ form.phone.errors }}
                            {{ form.phone }}
<!--                            <input type="tel" name="tel" class="form-control" placeholder="Введите телефон">-->
                        </div>
                        <div class="form-group py-3">
                            {{ form.sender.errors }}
                            {{ form.sender }}
<!--                            <input type="email" name="email" class="form-control" placeholder="Введите электронную почту">-->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group py-3">
                            {{ form.message.errors }}
                            {{ form.message }}
<!--                            <textarea class="form-control" name="text" placeholder="Задайте нам вопрос"></textarea>-->
                        </div>
                    </div>
                </div>
                <div class="container text-center">
                    <button class="btn py-2 px-5 my-2 my-sm-0 px-4" type="submit">
                        Оставить заявку
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!--END CONTACT-->
{% endblock block_content %}