{% extends 'main/base.html' %}
{% load static %}
{% block description %}Erickson Coaching. Коучинг Ростов на Дону. Эриксон коучинг{% endblock description %}
{% block keywords %}Erickson Coaching. Коучинг Ростов на Дону. Эриксон коучинг{% endblock keywords %}
{% block title %}Erickson Coaching - Наука и Искусство{% endblock title %}
{% block block_content %}
<section class="science_and_art">
    <div class="management_top">
      <div class="px-2 text-center container h-100 d-flex flex-column justify-content-center">
        <h1 class="saa_h1">Наука и исскуство трасформационного коучинга</h1>
      </div>
    </div>


    <div class="nsaa1 container my-5">
      <h5><span class="font_M700 font-weight-bolder">«Наука и искусство коучинга»</span> — это международная
        аккредитованная ACTP программа в International Coach Federation (ICF) / Международной Федерации Коучинга от
        Erickson Coaching International (Канада, г. Ванкувер).</h5>
      <h5>На программе вы получите: основу всех <span class="font_M700 font-weight-bolder">масштабных
          преобразований</span>, прикладные навыки <span class="font_M700 font-weight-bolder">коучинга ориентированного
          на результат</span>, коучинговые <span class="font_M700 font-weight-bolder">техники для бизнеса и
          управления</span>.</h5>
    </div>
<hr>
    <div class="nsaa2 container my-5">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <img src="{% static 'img/actp.png' %}" alt="actp" width="100%">
        </div>
        <div class="col-md-2">
          <p>40 лет на международном рынке обучения коучингу</p>
        </div>
        <div class="col-md-2">
          <p>Тренера c международной аккредитацией</p></div>
        <div class="col-md-2">
          <p>45 000+ выпускников в 85 странах мира</p></div>
        <div class="col-md-2">
          <p>Международный сертификат от Erickson International</p></div>
        <div class="col-md-1"></div>
      </div>
    </div>
<hr>
<div class="container mt-5">
  <p class="text-justify font_M700">Обучившись на программе «Наука и искусство коучинга», вы сможете развить свои soft skills (мягкие навыки), то, как мы мыслим и анализируем информацию. Программа позволит улучшить такие навыки как: ориентированность на результат, умение принимать решения, вести эффективную коммуникацию, выстраивать доверие, умение слышать, эмпатию, умение видеть и решать проблему, креативность, внимательность к деталям, масштабное мышление и наблюдательность.</p>
</div>
<div class="container mt-5 nsaa3">
  <h3>Почему выбирают программу "Наука и искусство коучинга" Erickson International:</h3>
  <ol>
    <li>ACTP аккредитация в ICF</li>
    <li>Ведущая школа профессионального коучинга в мире и высочайший уровень коучинговых компетенций</li>
    <li>Тренера с международной аккредитацией</li>
    <li>Программу прошли более 45 000 человек из 85 стран</li>
    <li>Международный сертификат от <a href="https://erickson.edu/">Erickson International</a></li>
  </ol>
</div>
<div class="nsaa4 container mt-5">
  <h3>Для кого эта программа:</h3>
  <div class="row">
    <div class="col-md-6">
      <h5>Владельцев и директоров компаний, руководителей подразделений</h5>
      <h6>Для тех, кто желает сделать свой управленческий стиль более гибким и эффективным, хочет развития своих лидерских компетенций.</h6>
    </div>
    <div class="col-md-6">
      <h5>HR-специалистов, руководителей учебных отделов</h5>
      <h6>Для тех, кто хочет найти новые способы эффективного решения кадровых вопросов, применять современные подходы в развитии и наборе персонала.</h6>
    </div>
    <div class="col-md-6">
      <h5>Для тех, кто желает приобрести новую профессию.</h5>
      <h6>Также для практикующих коучей,которые хотят получить международную аккредитацию в ICF</h6>
    </div>
    <div class="col-md-6">
      <h5>Психологов, бизнес-тренеров и консультантов,</h5>
      <h6>которые хотят овладеть новыми подходами и инструментами взаимодействия с людьми.</h6>
    </div>
  </div>
</div>
<div class="nsaa5 container mt-5 text-center">
  <h3>Cистема обучения</h3>
  <p>В Erickson International вы сможете выбрать формат обучения и уровень желаемых компетенций, которые соответствуют вашим целям и потребностям.</p>
  <img src="{% static 'img/Erickson_Program_Paths_Graphic_R - Copy 1.png' %}" alt="ECPG" width="80%">
</div>
<div class="nsaa6 container mt-5">
  <h3>Сертификация</h3>
  <h5 class="orange font_M700">Erickson Solution-Focused Coach Diploma. Программа Erickson ACTP</h5>
  <h5 class="mt-4 font_M700">Модули I-IV + Coaching Mastery Program</h5>
  <p>Данная программа для профессиональных коучей, которые хотят усилить свои коучинговые навыки и подготовиться к <span class="font_M700 font-weight-bolder">успешной аккредитации в ICF</span> на уровень: Associate Coach Certificate (ACC) или Professional Coach Certificate (PCC). Программа ACTP включает шесть часов индивидуального менторинга 1:1 с коучем PCC/MCC (ICF); четыре часа группового менторинга и одного устного экзамена.</p>
  <p>После завершения <span class="font_M700 font-weight-bolder">Модуля IV</span> и <span class="font_M700 font-weight-bolder">Coaching Mastery Program</span>, вы получите сертификат Erickson Solution-Focused Coach Diploma (ESFCD). Данная Программа предоставляет <span class="font_M700 font-weight-bolder">154 аккредитованных часов ICF</span>.</p>
  <p class="text-center"><img src="{% static 'img/Diploma_Sample_2019.png' %}" alt="diploma" width="80%"></p>
  <h5 class="orange mt-5 font_M700">Erickson Solution-Focused Coach Certificate. Erickson Coach Program</h5>
  <h5 class="font_M700">Модули I-IV</h5>
  <p>После завершения коучинговой программы Erickson (Erickson Coach Program), вы получите сертификат Erickson Solution-Focused Coach Certificate (<span class="font_M700 font-weight-bolder">ESFCC</span>). Данная Программа предоставляет <span class="font_M700 font-weight-bolder">136 ACSTH аккредитованных часов ICF.</span></p>
  <p class="text-center"><img src="{% static 'img/Certificate_Sample_2019.png' %}" alt="diploma" width="80%"></p>
  <h5 class="orange mt-5 font_M700">Erickson Solution-Focused Coach Qualification. Программа Erickson ACSTH</h5>
  <h5 class="font_M700">Модули I и II + Mentor Bundle</h5>
  <p>Mentor Bundle включает три часа индивидуального менторинга <span class="font_M700 font-weight-bolder">1:1</span> с коучем уровня PCC (ICF) и семь часов группового менторинга. Данная Программа предоставляет <span class="font_M700 font-weight-bolder">70 аккредитованных часов ICF</span> (в сумме <span class="font_M700 font-weight-bolder">80 часов</span>) и готовит для аккредитации (самостоятельный путь) в ICF на уровень Associate Coach Certificate (<span class="font_M700 font-weight-bolder">ACC</span>).</p>
  <p class="text-center"><img src="{% static 'img/Qualification_Sample_2019.png' %}" alt="diploma" width="80%"></p>
</div>

<div class="nsaa7 container mt-5">
  <h3>Поддержка</h3>
  <ol>
    <li><span class="font_M700 font-weight-bolder">Межмодульные встречи</span> с опытным куратором программы или тренером. </li>
    <li><span class="font_M700 font-weight-bolder">Практические занятия в «Тройках».</span> «Тройки» — это эффективный формат практики, где студенты выступают в роли коуча, клиента и наблюдателя. Здесь вы будете практиковать проведение коуч-сессий и закреплять на практике изученные на каждом модуле инструменты.</li>
  </ol>
</div>

<div class="nsaa8 container mt-5">
  <h2>Обзор программы «Наука и искусство коучинга»</h2>
  <div class="saa-modules p-4 mt-5">
    <h3>I Модуль</h3>
    <p>Основы коучинга. Базовые инструменты коучинга и шаги коуча в работе с клиентами и сотрудниками. Понимание процессов, происходящих в человеческом мозге. Коучинговые подходы, применяемые для повышения продуктивности и улучшения качества жизни.</p>
    <div class="accordion" id="mudule-accordion1">
      <div class="card">
        <div class="card-header" id="module-heading1">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#module-collapse1" aria-expanded="true" aria-controls="module-collapse1">
              Подробнее
            </button>
          </h2>
        </div>

        <div id="module-collapse1" class="collapse" aria-labelledby="module-heading1" data-parent="#mudule-accordion1">
          <div class="card-body">
            <p class="font_M700 orange">По завершении этого модуля вы сможете:</p>
            <ul>
              <li>Проводить полноценную коучинговую сессию (беседу), ориентированную на решение;</li>
              <li>Устанавливать и демонстрировать коучинговое присутствие;</li>
              <li>Использовать стратегии создания близости и доверия;</li>
              <li>Определять результаты для эффективной коучинговой сессии;</li>
              <li>Применять сильные вопросы, чтобы помочь коучи (клиенту/сотруднику) найти решения и составить эффективный план реализации;</li>
              <li>Определять функции систем головного мозга и их роль в эффективной коммуникации;</li>
              <li>Развивать позитивное видение себя;</li>
              <li>Давать продвигающую обратную связь, используя принципы, ориентированные на решение.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="saa-modules p-4 mt-5">
    <h3>II Модуль</h3>
    <p>Разработка и внедрение проектов. Инструменты, направленные на успешную реализацию проектов: планирование, расстановка приоритетов, управление временем, раскрытие творческих стратегий.</p>
    <div class="accordion" id="mudule-accordion2">
      <div class="card">
        <div class="card-header" id="module-heading2">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#module-collapse2" aria-expanded="true" aria-controls="module-collapse2">
              Подробнее
            </button>
          </h2>
        </div>

        <div id="module-collapse2" class="collapse" aria-labelledby="module-heading2" data-parent="#mudule-accordion2">
          <div class="card-body">
            <p class="font_M700 orange">По завершении этого модуля вы сможете:</p>
            <ul>
              <li>Применять коучинговые техники, для эффективной расстановки приоритетов, развитию приверженности и дисциплины;</li>
              <li>Использовать коучинговые стратегии, для создания и оптимизации плана действий;</li>
              <li>Имплементировать методы визуализации для лучшего функционирования головного мозга;</li>
              <li>Применять подходы, способствующие лучшей осознанности и способности замечать и признавать развитие собственных компетенций;</li>
              <li>Использовать коучинговые процессы, в овладении желаемым набором навыков в долгосрочной перспективе;</li>
              <li>Получить доступ к глубинным знаниям и находить решения с помощью коучинговых упражнений;</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="saa-modules p-4 mt-5">
    <h3>III Модуль</h3>
    <p>Работа с ценностями: раскрытие потенциала команд и людей через ценности. Индивидуальный процесс исследования глубинных ценностей и помощь в этом другим. Спиральная Динамика Клэра Грейвза: эволюция ценностей людей, организаций и общества.</p>
    <div class="accordion" id="mudule-accordion4">
      <div class="card">
        <div class="card-header" id="module-heading4">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#module-collapse4" aria-expanded="true" aria-controls="module-collapse4">
              Подробнее
            </button>
          </h2>
        </div>

        <div id="module-collapse4" class="collapse" aria-labelledby="module-heading4" data-parent="#mudule-accordion4">
          <div class="card-body">
            <p class="font_M700 orange">По завершении этого модуля вы сможете:</p>
            <ul>
              <li>Задавать сильные вопросы, которые позволят определить глубинные ценности и внутренние мотиваторы;</li>
              <li>Применять особый вид общения и бросать вызов коучии, чтобы он смог выйти за пределы навязанных препятствий и ограничений;</li>
              <li>Применять различные инструменты, для преодоления сложностей с уровнем продуктивности и завершения проектов;</li>
              <li>Использовать коучинговые подходы, для развития эмоционального баланса и преодоления нежелательных чувств;</li>
              <li>Применять простые методы, для перехода коучии из стрессового состояние в состояние ресурса;</li>
              <li>Использовать особые методы, для усиления приверженности плану и признанию собственных успехов;</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="saa-modules p-4 mt-5">
    <h3>IV Модуль</h3>
    <p>Искусство завершать проекты. Технологии интеграции мастерства. Экспресс-диагностика и эффективные коммуникации с клиентами. Инструменты повышения стрессоустойчивости. Интеграция коучинговых технологий и навыков профессионального коуча.</p>
    <div class="accordion" id="mudule-accordion3">
      <div class="card">
        <div class="card-header" id="module-heading3">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#module-collapse3" aria-expanded="true" aria-controls="module-collapse3">
              Подробнее
            </button>
          </h2>
        </div>

        <div id="module-collapse3" class="collapse" aria-labelledby="module-heading3" data-parent="#mudule-accordion3">
          <div class="card-body">
            <p class="font_M700 orange">По завершении этого модуля вы сможете:</p>
            <ul>
              <li>Разрабатывать план для успешного достижения желаемого уровня коучинговых компетенций;</li>
              <li>Определять и различать уровни коучингово профессионализма - начальный, средний и продвинутый;</li>
              <li>Задавать поддерживающие вопросы в ответ на метафоры, которые озвучил коучи вовремя коучингового диалога;</li>
              <li>Отвечать в моменте сильным коучинговым вопросом интуитивно и так, чтобы вопрос продвигал;</li>
              <li>Эффективно вести коммуникацию используя язык, который оказывает наибольшее позитивное влияние;</li>
              <li>Создавать и поддерживать среду, которая способствует раскрытию и развитию;</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




    <div class="saa_5 mt-5">
      <div class="container">
        <h1 class="text-center">Стоимость программы</h1>
        <div class="row mt-4">
          <div class="col-md-6 mt-3">
            <div class="border-white-rad50 p-1">
              <h4 class="text-center m-0">148 000 рублей</h4>
              <p class="text-center m-0">за всю программу</p>
            </div>
          </div>
          <div class="col-md-6 mt-3">
            <div class="border-white-rad50 p-1">
              <h4 class="text-center m-0">37 000 рублей</h4>
              <p class="text-center m-0">за 1 модуль</p>
            </div>
          </div>
        </div>
        <div class="about_program mt-4">
          <h4>Скидки при предоплате:</h4>
          <ul class="text-left">
            <li>5% - при предоплате за 2,3 модуля</li>
            <li>10% - при предоплате за 4 модуля, для региональных участников</li>
            <li>15% - для многодетных родителей, для 3 и более участников от одной организации</li>
          </ul>
        </div>
        <hr style="background-color: white;">
        <div class="about_programm mt-4">
          <ul class="text-left">
            <li>
              128 часов интенсивной работы в группе с тренером —
              профессиональным коучем.
            </li>
            <li>6 дополнительных учебных занятий между модулями.</li>
            <li>Еженедельная работа в тройках с коучем­-ассистентом.</li>
            <li>Более 250 страниц раздаточного учебного материала.</li>
            <li>
              Тестирование и сертификацию по стандартам Международной Федерации
              коучинга ICF.
            </li>
            <li>Ценные знакомства.</li>
            <li>
              Приятная атмосфера, удобное расположение в центре города,
              кофе­-брейки.
            </li>
          </ul>
        </div>
        <div class="my-3 text-left ccnbs">
          <a href="{% static 'img/rulesICF.pdf' %}" target="_blank">скачать требования к сертификату</a>
        </div>
        <a href="#contact">
          <button class="btn btn_registration px-4">Зарегистрироваться</button>
        </a>
      </div>
    </div>




    <a name="contact"></a>
    <div class="container-fluid mt-5">
      <div class="container contact_block border py-4">
        <div class="text-center pb-5">
          <h1 class="title_block pb-2">Оставить заявку</h1>
          <p>На программу обучения "Наука и искусство транформационного коучинга"</p>
        </div>
        <form action="/" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group py-3">
                {{ form.subject.errors }}
                {{ form.subject }}
                <!--                            <input type="text" name="name" class="form-control" placeholder="Введите имя">-->
              </div>
              <div class="form-group py-3">
                {{ form.phone.errors }}
                {{ form.phone }}
                <!--                            <input type="tel" name="tel" class="form-control" placeholder="Введите телефон">-->
              </div>
              <div class="form-group py-3">
                {{ form.sender.errors }}
                {{ form.sender }}
                <!--                            <input type="email" name="email" class="form-control" placeholder="Введите электронную почту">-->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group py-3">
                {{ form.message.errors }}
                {{ form.message }}
                <!--                            <textarea class="form-control" name="text" placeholder="Задайте нам вопрос"></textarea>-->
              </div>
            </div>
          </div>
          <div class="container text-center">
            <button class="btn py-2 px-5 my-2 my-sm-0 px-4" type="submit">
              Оставить заявку
            </button>
          </div>
        </form>
      </div>
    </div>
    <!--END CONTACT-->


    <div class="py-3"></div>


  </section>
{% endblock block_content %}