{% extends 'main/base.html' %}
{% load static %}
{% block description %}Erickson Coaching. Коучинг Ростов на Дону. Эриксон коучинг{% endblock description %}
{% block keywords %}Erickson Coaching. Коучинг Ростов на Дону. Эриксон коучинг{% endblock keywords %}
{% block title %}Erickson Coaching - Спасибо, что оставили заявку{% endblock title %}
{% block block_content %}
<section class="container my-5 thanks_block">
    <h1>Спасибо!</h1>
    <h2>Ваша заявка отправлена</h2>
    <h5 class="my-5">В ближайшее время наш менеджер свяжется с Вами</h5>
    <a href="{% url 'index' %}">
        <button class="back_button btn">Вернуться на главную</button>
    </a>
</section>
<div class="py-5 my-5"></div>
{% endblock block_content %}